{##
 # Order invoice pin codes
 #}

<div class="invoice-pin-codes">
  <span class="header">{{ t('PIN') }}:</span>
  {% for code in this.getPinCodes() %}
    <span class="code">{{ code }}</span>
  {% endfor %}
</div>
