{##
 # Product classes page template
 #
 # @ListChild (list="itemsList.productclass.header.before", weight="10")
 #}

<p class="page-note">{{ t('This page allows you to edit global attributes, which are available for all products in your store, and attributes specific for classes of your products.') }}</p>
