{##
 # Attribute groups list table template
 #
 # @ListChild (list="itemsList.attributegroup.footer", weight="10")
 #}

<div class="note additional-panel {{ this.getAdditionalPanelStyle() }}">{{ t('Editing attribute groups on this page won\'t affect other product classes which use these groups') }}</div>
