{##
 # Edit labels widget template
 #}

<div class="languages-dialog">
    {% include 'languages/labels/parts/list.languages.twig' %}
    {{ widget('\\XLite\\View\\ItemsList\\Model\\Translation\\Labels') }}
</div>
