{##
 # Order transactions
 #}

<div class="payment-actions">
  {% for index, transaction in this.getTransactions() %}
    <div class="transaction-actions">
      {% for id, unit in this.getTransactionUnits(transaction) %}
        {{ widget('\\XLite\\View\\Order\\Details\\Admin\\PaymentActionsUnit', transaction=transaction, unit=unit, displaySeparator=this.isLastUnit(id)) }}
      {% endfor %}
    </div>
  {% endfor %}
</div>
