{##
 # Popup button
 #}
<button type="button" class="{{ this.getClass() }}" title="{{ t('Edit review') }}">
{{ this.displayCommentedData(this.getURLParams()) }}
<span class="fa fa-pencil-square-o">{{ t(this.getButtonContent()) }}</span>
</button>
