{##
 # Template
 #
 # @ListChild (list="add2cart_popup.item.buttons", weight="1000")
 #}
{% if this.isPayWithAmazonActive() %}
  <div id="payWithAmazonDiv_add2c_popup_btn" class="pay-with-amazon-button add2cart-popup-pay-with-amazon"></div>
{% endif %}
