{##
 # Review page template
 #}

<div class="review model-properties">

  {% form '\\XLite\\Module\\XC\\Reviews\\View\\Form\\Review\\Admin\\Review' %}

    <div class="model-properties">
    <ul class="table default-table">
      {{ widget_list('review.modify.fields') }}
    </ul>
  </div>

  {% if this.entity.isNotApproved() %}
    <div class="form-buttons pending">
      {{ widget_list('review.modify.buttons.pending') }}
    </div>
  {% endif %}

  {% if not this.entity.isNotApproved() %}
    <div class="form-buttons">
      {{ widget_list('review.modify.buttons.approved') }}
    </div>
  {% endif %}

  {% endform %}
</div>
