{##
 # Banner images list & upload
 #
 # @ListChild (list="crud.bannerrotation.formFooter", zone="admin", weight="200")
 #}

<div class="banner-images">
    {{ widget('\\XLite\\View\\ItemsList\\BannerRotationImages') }}
</div>
