{##
 # Layout settings template
 #}

<div class="debug-bar-switch">
  {{ widget('XLite\\View\\FormField\\Input\\Checkbox\\OnOff', label='DebugBar', fieldName='debugBarEnabled', value=this.config.XC.WebmasterKit.debugBarEnabled) }}
</div>
