{##
 # Fastlane checkout heading bar
 #
 # @ListChild (list="checkout_fastlane.header.right", weight="10")
 #}

<div class="checkout_fastlane_navigation">
	<h2>{{ this.getNavigationTitle() }}</h2>
	{{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\SectionsNavigation') }}
</div>