{##
 # Add to Cart popup page: 'Added product' message template
 #}
<div class="added-item-message">
  <i class="icon-ok-mark"></i>
  <div>{{ t('This product has been added to you cart') }}</div>
</div>
