{##
 # Order : line 3
 #
 # @ListChild (list="order.operations", weight="300")
 #}

{% if this.isOrderItemsVisible() %}
  <div class="line-3">
    <h2>{{ t('Order items') }}</h2>
    {{ widget_list('order.items.wrapper') }}
  </div>
{% endif %}
