{##
 # Send notification checkbox
 #}

<label class="disabled">
  <input type="checkbox" name="sendNotification" class="disabled not-affect-recalculate" value="1" {% if this.checked %} checked="checked" {% endif %} />
  <span>{{ t('Notify customer') }}</span>
</label>
