{##
 # Password (visible)
 #}

{% include 'form_field/input.twig' %}
<div class="eye password-eye">
  <a href="#" class="open"><i class="fa fa-eye"></i></a>
  <a href="#" class="close"><i class="fa fa-eye-slash"></i></a>
</div>
