{##
 # Order history
 #}
<div class="panel panel-default order-history panel-collapse collapse" data-orderNumber="{{ this.order.getOrderNumber() }}">

  <a name="history"></a>

  <ul class="panel-body">
    {{ widget_list('order.history.base') }}
  </ul>

</div>
