{##
 # Module name
 #
 # @ListChild (list="upgrade.step.prepare.incompatible_entries_update.sections.table.columns", weight="100")
 #}

<td class="module-info">
<span class="name">{{ this.entry.getModuleName() }}</span>
<span class="author">({{ t('by') }} {{ this.entry.getAuthorName() }})</span>
</td>
