{##
 # Location template
 #}

{% if this.target == 'capost' %}
  <span>&nbsp;::&nbsp;Shipping settings&nbsp;::&nbsp;<a href="{{ url('capost') }}" class="navigation-path">Canada Post Settings</a></span>
{% endif %}

