{##
 # Block content : footer
 #
 # @ListChild (list="dashboard-center.welcome.content", weight="20")
 #}

<div class="welcome-footer">

  <div class="bg"></div>

  <div class="do-not-show">
    <input type="checkbox" name="hide_welcome_block" id="hide_welcome_block" class="hide-welcome-block" />
    <label for="hide_welcome_block">{{ t('Do not show at startup anymore') }}</label>
  </div>
  <div class="close-button">{{ t('CLOSE') }}</div>
</div>
