{##
 # Change attribute values
 #}

{{ widget('\\XLite\\View\\Product\\AttributeValues', orderItem=this.item, idx=this.getIdx()) }}

<div class="buttons">
  {{ widget('\\XLite\\View\\Button\\Submit', label='Change') }}
</div>
