{##
 # Simple box part inside the upper form for products search
 #
 # @ListChild (list="product.simple-search-form.simple-box", weight="10")
 #}

<div class="simple-search-box">
  {{ widget_list('product.simple-search-form.simple-box.elements') }}
</div>
