{##
 # List of status messages
 #}

{# :TODO: merge with the "admin/en/upgrade/step/ready_to_install/status_messages/body.twig" #}

<div class="service-messages-section">
  <div class="ready-to-install-service-message">
    {% for entryName, messageList in this.getMessages() %}
      <div>
        {% for message in messageList %}
        {# :NOTE: do not add t(##) here: messages are already translated #}
        <div class="message-entry">{{ message|raw }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
