{##
 # By registered date
 #
 # @ListChild (list="profiles.search.dateTypes", weight="100")
 #}

<li class="date-type-r">
  <input type="radio" name="{{ this.fieldName }}" value="R" id="date_type_r" {% if this.isDateTypeSelected('R') %} checked="checked" {% endif %} />
  <label for="date_type_r">{{ t('Registered') }}</label>
</li>
