{##
 # Log out link
 #
 # @ListChild (list="layout.header.bar.links.logged", weight="500")
 #}

<li class="separator"><hr /></li>
<li class="account-link-logoff">
	<a href="{{ url('login', 'logoff') }}" class="log-off icon-logout">
		<span>{{ t('Log out') }}</span>
	</a>
</li>
