{##
 # Account link
 #
 # @ListChild (list="layout.header.bar.links.logged", weight="300")
 #}

<li class="account-link-orders">
  <a href="{{ url('order_list', '') }}" class="orders icon-orders">
  	<span>{{ t('Orders list') }}</span>
  </a>
</li>
