{##
 # Account link
 #
 # @ListChild (list="layout.header.bar.links.logged", weight="200")
 #}

<li class="account-link-profile">
  <a href="{{ url('profile', '') }}" class="profile icon-my-account-profile">
  	<span>{{ t('Details') }}</span>
  </a>
</li>
