{##
 # Header right settings
 #
 #}

<div class="header_settings dropdown {{ this.getHeaderSettingsClasses() }}" title="{{ t('Menu') }}">
    <a data-target="#" data-toggle="dropdown"></a>
    <div class="dropdown-menu">
        {{ widget_list('layout.header.right.settings') }}
    </div>
</div>
