{##
 # Entries list
 #
 # @ListChild (list="upgrade.step.prepare.incompatible_entries_update.sections", weight="300")
 #}

 <div class="incompatible-status-message">
     {{ t('The module is incompatible with the new core version going to be installed') }}
 </div>
