{##
 # Wholesales list
 #
 # @ListChild (list="itemsList.wholesalePrices.header", weight="100")
 #}

<div class="wholesale-prices-membership-note">* {{ t('Prices set for specific membership levels override prices set for all customers') }}</div>
