{##
 # Hard reset
 #
 # @ListChild (list="upgrade.step.completed.backup.actions", weight="300")
 #}

<div class="upgrade-note restore-backup">
  <span class="restore-backup-label">{{ t('Restore last backup') }} <span class="small-note">({{ t('should be performed manually') }})</span></span>
</div>
