{##
 # Column with checkboxes
 #
 # @ListChild (list="itemsList.product.modify.common.admin.columns", weight="10")
 #}

<td class="checkbox-column"><input type="checkbox" class="checkbox {{ this.product.getProductId() }}" value="1" name="{{ this.getNameToDelete(this.product.getProductId()) }}" /></td>
