{##
 # Main template
 #}

<div id="footer">
  <div class="footer-cell left">
    {{ widget('\\XLite\\View\\PoweredByAdmin') }}
    {{ widget_list('admin.main.page.footer.left') }}
  </div>
  <div class="footer-cell right">
    {{ widget_list('admin.main.page.footer.right') }}
  </div>
</div>
