{##
 # Regular link
 #}

<a {{ this.printTagAttributes(this.getAttributes())|raw }}>
{% if this.getParam('icon-style') %}<i class="button-icon {{ this.getParam('icon-style') }}"></i>{% endif %}<span>{{ t(this.getButtonLabel()) }}</span>
</a>