{##
 # Popup button
 #}
<button type="button" class="{{ this.getClass() }}" {{ this.printTagAttributes(this.getAttributes())|raw }}>
{{ this.displayCommentedData(this.getURLParams()) }}
<span>{{ t(this.getButtonContent()) }}</span>
</button>
