{##
 # Review page template
 #}

<div class="review model-properties">
  <div class="model-properties">
    <ul class="table default-table">
      {{ widget('\\XLite\\Module\\XC\\Reviews\\View\\Model\\Review') }}
    </ul>
  </div>
</div>
