{##
 # ____file_title____
 #}

<div class="tinymce-widget">
<div class="textarea">
{{ this.displayCommentedData(this.getTinyMCEConfiguration()) }}
<textarea {{ this.getAttributesCode()|raw }}>{{ this.getProcessedValue() }}</textarea>
</div>
</div>

