{##
 # Name
 #
 # @ListChild (list="contact-us.send.fields", weight="1000")
 #}

<div class="form-action">
  {{ widget('\\XLite\\View\\Button\\Submit', label=t('Send'), style='regular-main-button') }}
</div>
