{##
 # Body
 #}

<p>
  <h2>Hello, {{ this.name.value }}</h2>
</p>
<p>
    <p>Thank you for requesting credentials to PB International Shipping! Your request and information has been successfully received. A Pitney Bowes representative will be reaching out to you shortly to help finalize the activation of the service. Please keep a lookout for emails that have been sent from a @pb.com address.</p>
    <p>If 48 hours happen to pass without you receiving a message from PB, please send a short note with your name and phone number to ecomm_bd@pb.com and a contact will reach out to you.</p>
    <p>Thanks again for your submission. We look forward to helping your cross-border business!</p>
</p>
<style>
    h1.greeting{
        display: none !important;
    }
    #emailFooter{
        display: none !important;
    }
</style>