/.dev
/build
/coverage
/var
/src/etc/config.php
/src/etc/config.demo.php
/src/etc/config.local*.php
/src/etc/config.personal.php
/src/sql/local
/src/lib/dompdf/lib/fonts/log.htm
/src/update.sh
/src/update-*.sh
/src/var/addons
/src/var/backup
/src/var/datacache
/src/var/shopgate
/src/var/locale
/src/var/log
/src/var/run
/src/var/images
/src/var/tmp
/src/var/data
/src/var/resources
/src/var/.decorator.fixtures.ini.php
/src/var/.decorator.modules.ini.php
/src/var/.decorator.unsafe_modules.ini.php
/src/var/.decorator.dbSchema.php
/src/var/.rebuildStarted
/src/var/.quickData.php
/src/var/.lessFiles.php
/src/var/.moduleMigrations.php
/nbproject
*.swp
/src/files/service
.idea
/src/files/attachments/**/
