{##
 # Modules enter key
 #}

<div class="addon-key-block">
  <div class="enter-key-hint">{{ t('To activate your X-Cart or commercial module license, enter your license key into the field below and click Activate.') }}</div>
  <div class="activate-key-form">
    {% form 'XLite\\View\\Form\\Module\\ModuleKey' with {formAction: 'register_key'} %}
    <div class="addon-key"><input type="text" name="key" value="" placeholder="{{ t('Enter license key') }}" class="form-control"/></div>
    {{ widget('XLite\\View\\Button\\Submit', style='regular-main-button', label=t('Activate'), attributes={'data-segment-click': 'Activate'}) }}
    {% endform %}
  </div>
</div>
