{##
 # Template
 #
 # @ListChild (list="minicart.horizontal.buttons", weight="1000")
 #}
{% if this.isPayWithAmazonActive() %}
<div id="payWithAmazonDiv_mini_cart_btn" style="padding-top:8px; width: 100%;">
	<img src="{{ this.getAmazonButtonURL() }}" style="cursor: pointer;" />
</div>
{% endif %}
