{##
 # Info message
 #
 # @ListChild (list="upgrade.step.prepare.incompatible_entries_update.sections", weight="100")
 #}

<div class="incompatible-module-list-description">
  {{ t('Your custom addons were prepared for certain core version') }}
</div>
{% if this.hasDisabledEntries() %}
  <div class="incompatible-module-list-description">
    {{ t('Please note that some of these modules are definitely incompatible with the upcoming upgrade and will be disabled in order to prevent the system crash') }}.
  </div>
{% endif %}
