{##
 # Product details image block
 #
 # @ListChild (list="product.details.quicklook.image")
 #}
<div class="default-image" style="display: none;">
  {{ widget('\\XLite\\View\\Image', alt=this.product.name, maxWidth=this.getDefaultMaxImageSize(1), maxHeight=this.getDefaultMaxImageSize(0), image=this.getQuicklookImage(this.product)) }}
</div>
