{##
 # Dependencies list
 #
 # @ListChild (list="itemsList.module.manage.columns.module-main-section.messages.cannot_enable.dependencies", weight="200")
 # @ListChild (list="itemsList.module.install.columns.module-main-section.cannot_enable.dependencies", weight="200")
 #}

{% if this.getDependencyModules(this.module) %}
  <ul>
    {% for depend in this.getDependencyModules(this.module) %}
      <li>
        {{ widget_list('details', type='nested', depend=depend) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
