{##
 # Add offline method
 #
 # @ListChild (list="product.attributes.actions", weight="10")
 #}

{% if this.isRemovable() %}
  <div class="actions">
  	{{ widget('XLite\\View\\Button\\Remove', buttonName='delete[' ~ this.itemId ~ ']', label=this.getPemoveText(), style='delete') }}
  </div>
{% endif %}