{##
 # Fastlane checkout payment right section
 #
 # @ListChild (list="checkout_fastlane.sections.details", weight="19")
 #}

<order-total inline-template>
    <div class="order-total" v-text='total_text'></div>
</order-total>