{##
 # Fastlane checkout payment right section
 #
 # @ListChild (list="checkout_fastlane.sections.details.left", weight="10")
 #}

<div class="checkout_fastlane_cart">
	{{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Blocks\\CartItems') }}
</div>
