{##
 # Fastlane checkout payment right section
 #
 # @ListChild (list="checkout_fastlane.sections.details", weight="40")
 #}

{% if this.isShippingNeeded() %}
<div class="checkout_fastlane_shipping-details">
	{{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Blocks\\ShippingDetails') }}

    <a class="checkout_fastlane_shipping_edit_link" href="#" v-on:click.prevent="switchTo('shipping')">{{ t('Edit') }}</a>
</div>
{% endif %}
