{##
 # Fastlane checkout payment right section
 #
 # @ListChild (list="checkout_fastlane.sections.details.left", weight="15")
 #}

{% if this.isShippingNeeded() %}
<div class="checkout_fastlane_shipping-details">
    {{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Blocks\\ShippingDetails') }}

    <a class="checkout_fastlane_shipping_edit_link" data-toggle="tooltip" data-placement="left" title="{{ t('Change shipping') }}" href="#" v-on:click.prevent="switchTo('shipping')"><i class="fa fa-truck"></i></a>
</div>
{% endif %}
