{##
 # Subheader
 #}

<div class="steps clearfix">

  <div class="step order-payment-step">
    <div class="head-h2">
      <span class="text">{{ t('Order payment') }}</span>
    </div>
  </div>

</div>
