{##
 # Welcome section. Top steps line. 
 #
 #}

<div class="top-line">

  <a href="{{ this.getFreeTrialLink() }}" target="_blank">
    <div class="step step1">
    </div>
  </a>

  <div class="arrow">
  </div>

  <a href="{{ this.getConfigureLink() }}" target="_blank">
    <div class="step step2">
    </div>
  </a>

  <div class="arrow">
  </div>

  <a href="{{ this.buildUrl('xpc', '', {'page': 'connection'}) }}">
    <div class="step step3">
    </div>
  </a>

</div>

