{##
 # Welcome section. Top steps line. 
 #
 #}

<div class="top-line">

  <div class="step step1">
  </div>

  <div class="arrow">
  </div>

  <div class="step step2">
  </div>

  <div class="arrow">
  </div>

  <div class="step step3">
  </div>

</div>

