{##
 # Welcome section. Video instruction.
 #
 #}

<div class="video-container">

  <iframe width="560" height="315" src="//www.youtube.com/embed/6cQ9xzzGxow" frameborder="0" allowfullscreen class="video-instruction"></iframe>

</div>
