{##
 # Link to the Module marketplace terms of use page
 #
 # @ListChild (list="admin.main.page.footer.left", weight="100")
 #}
{% if this.getTarget() == 'addons_list_marketplace' or this.getTarget() == 'addons_list_installed' %}
  <a href="{{ this.getXCartURL('http://www.x-cart.com/module-marketplace-terms-of-use.html') }}" target="_blank">{{ t('Module Marketplace. Terms of use') }}</a>
{% endif %}
