{##
 # Sign-in
 #
 # @ListChild (list="checkout.signin.form", weight="10")
 #}
<tr><td class="email-field">
  {{ widget('XLite\\View\\FormField\\Input\\Text\\Email', value=this.login, required='true', fieldName='login', placeholder=t('Email'), label=t('Email'), fieldOnly='true', fieldId='login-email') }}
</td></tr>
