{##
 # Sign-in
 #
 # @ListChild (list="checkout.signin.form", weight="20")
 #}
<tr><td class="password-field">
  {{ widget('XLite\\View\\FormField\\Input\\Password', required='true', fieldName='password', placeholder=t('Password'), label=t('Password'), fieldOnly='true', fieldId='login-password') }}
</td></tr>
