{##
 # Registration widget
 #}

<div class="pilibaba-info-block">
    <div class="logo">
        <img src="skins/customer/modules/XC/Pilibaba/img/checkout-btn.png" alt="Pilibaba">
    </div>
    <div class="description">
        <h3>Sell to 1.3 Billion Chinese customers immediately</h3>
        <p>Pilibaba All-in-One gateway provides a unique combined Payment & Logistics solution & Customs compliance for eCommerce platforms to China market. By using Pilibaba service, merchants will be able to sell to 1.3 Billion Chinese customers instantly.</p>
        <div>
            <span>Here are core benefits from Pilibaba for both merchants and Chinese customers:</span>
            <ol>
                <li>Accept payments from 1.3 Billion Chinese shoppers</li>
                <li>Display landed price for Chinese shoppers. Incl. products price + duties and taxes + international air freight cost</li>
                <li>Locally Shipping - deliver locally to one of Pilibaba designated in-country warehouse, Pilibaba provides efficient label, customs clearance and door-to-door delivery anywhere in China</li>
                <li>5*8 local customer service for Chinese shoppers (email, chat and phone call)</li>
            </ol>
        </div>
        <p>
            {{ widget('XLite\\View\\Button\\SimpleLink', label='Get more information', blank='true', location=this.getInformationURL()) }}
        </p>
    </div>
</div>
