{##
 # Invoice billing address
 #
 # @ListChild (list="invoice.bottom.address.billing", weight="10")
 #}
<strong class="title">{{ t('Billing address') }}</strong>

<ul class="address-section billing-address-section">
    {% for idx, field in this.getAddressSectionData(this.baddress) %}
        <li class="{{ field.css_class }} address-field">
            {% if field.title_visible %}
                <span class="address-title">{{ t(field.title) }}:</span>
            {% endif %}
            <span class="address-field">{{ field.value }}</span>
        </li>
    {% endfor %}
</ul>
