{##
 # @ListChild (list="qsl.specialoffersbase.special_offers.list.create", weight="200")
 #}

<li class="action create">
  <div class="table-value">{{ widget('\\XLite\\View\\Button\\Submit', label=t('Create')) }}</div>
</li>