{##
 # @ListChild (list="qsl.specialoffersbase.special_offers.list.create", weight="100")
 #}

<li class="create-param param-offer-type">
  {{ widget('XLite\\Module\\QSL\\SpecialOffersBase\\View\\FormField\\Select\\OfferType', fieldName='type_id', label=t('New offer:')) }}
</li>