{##
 # Progress section
 #}
<div class="integrity-check-box integrity-check-progress">

    <div class="content">
        {% form 'XLite\\View\\Form\\SimpleForm' with {formTarget: 'integrity_check', formAction: 'integrityCheckCancel'} %}
        <div class="subcontent">
            {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName(), message=this.getProgressMessage() ) }}
        </div>
        {% endform %}
    </div>

</div>
