/*!
 * froala_editor v2.3.4-xcart (https://www.froala.com/wysiwyg-editor)
 * License https://froala.com/wysiwyg-editor/terms/
 * Copyright 2014-2016 Froala Labs
 */

.fr-view table
{
  border:0;
  border-collapse:collapse;
  empty-cells:show;
  max-width:100%;
}

#main .fr-toolbar.fr-top {
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px 1px 3px rgba(0,0,0,.12), -1px 1px 2px rgba(0,0,0,.24), 1px 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px 1px 3px rgba(0,0,0,.12), -1px 1px 2px rgba(0,0,0,.24), 1px 1px 2px rgba(0,0,0,.24);
  box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px 1px 3px rgba(0,0,0,.12), -1px 1px 2px rgba(0,0,0,.24), 1px 1px 2px rgba(0,0,0,.24);
}

#main .fr-wrapper {
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px 1px 3px rgba(0,0,0,.12), -1px 1px 2px rgba(0,0,0,.24), 1px 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px 1px 3px rgba(0,0,0,.12), -1px 1px 2px rgba(0,0,0,.24), 1px 1px 2px rgba(0,0,0,.24);
  box-shadow: 1px 1px 3px rgba(0,0,0,.12), -1px 1px 3px rgba(0,0,0,.12), -1px 1px 2px rgba(0,0,0,.24), 1px 1px 2px rgba(0,0,0,.24);
}

.fr-wrapper.show-placeholder > iframe + .fr-placeholder {
  z-index: 3;
}

.fr-box.fr-code-view textarea.fr-code {
  width: 100%;
  font-family: monospace;
  line-height: 1.25em;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.fr-box:not(.fr-inline).fr-code-view textarea.fr-code,
.fr-box:not(.fr-inline) iframe {
  min-height: 250px;
}

.fr-box.fr-inline {
  min-height: 60px;
  outline: 1px dashed rgba(16, 127, 152, 0.5);
  outline-offset: 5px;
  margin-top: 10px;
  overflow: auto;
}

.fr-box.fr-inline:hover,
.fr-box.fr-inline:focus {
  outline: 1px dashed rgb(16, 127, 152);
}

.fr-box:not(.fr-code-view) textarea.fr-code {
  display: none;
}

table.fr-dashed-borders td, table.fr-dashed-borders th
{
  border-style:dashed;
}

table.fr-alternate-rows tbody tr:nth-child(2n)
{
  background:#f5f5f5;
}

.fr-view table td,.fr-view table th
{
  border:1px solid #ddd;
}

.fr-view table td:empty,.fr-view table th:empty
{
  height:20px;
}

table td.fr-highlighted, table th.fr-highlighted
{
  border:1px double red;
}

table td.fr-thick, table th.fr-thick
{
  border-width:2px;
}

.fr-view table th
{
  background:#e6e6e6;
}

.fr-view hr
{
  clear:both;
  user-select:none;
  -o-user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  page-break-after:always;
}

.fr-file
{
  position:relative;
}

.fr-file::after
{
  position:relative;
  content:"\1F4CE";
  font-weight:400;
}

.fr-view pre
{
  white-space:pre-wrap;
  word-wrap:break-word;
}

.fr-view[dir=rtl] blockquote
{
  border-left:0;
  border-right:solid 2px #5e35b1;
  margin-right:0;
  padding-right:5px;
  padding-left:0;
}

.fr-view[dir=rtl] blockquote blockquote
{
  border-color:#00bcd4;
}

.fr-view[dir=rtl] blockquote blockquote blockquote
{
  border-color:#43a047;
}

.fr-view blockquote
{
  border-left:solid 2px #5e35b1;
  margin-left:0;
  padding-left:5px;
  color:#5e35b1;
}

.fr-view blockquote blockquote
{
  color:#00bcd4;
  border-color:#00bcd4;
}

.fr-view blockquote blockquote blockquote
{
  color:#43a047;
  border-color:#43a047;
}

span.fr-emoticon
{
  font-weight:400;
  font-family:"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols;
  display:inline;
  line-height:0;
}

span.fr-emoticon.fr-emoticon-img
{
  background-repeat:no-repeat!important;
  font-size:inherit;
  height:1em;
  width:1em;
  min-height:20px;
  min-width:20px;
  display:inline-block;
  line-height:1;
  vertical-align:middle;
  margin:-.1em .1em .1em;
}

.fr-text-gray
{
  color:#AAA!important;
}

.fr-text-bordered
{
  border-top:solid 1px #222;
  border-bottom:solid 1px #222;
  padding:10px 0;
}

.fr-text-spaced
{
  letter-spacing:1px;
}

.fr-text-uppercase
{
  text-transform:uppercase;
}

.fr-video
{
  text-align:center;
  position:relative;
}

.fr-video>*
{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  max-width:100%;
  border:0;
}

.fr-video.fr-dvb
{
  display:block;
  clear:both;
}

.fr-video.fr-dvb.fr-fvl
{
  text-align:left;
}

.fr-video.fr-dvb.fr-fvr
{
  text-align:right;
}

.fr-video.fr-dvi
{
  display:inline-block;
}

.fr-video.fr-dvi.fr-fvl
{
  float:left;
}

.fr-video.fr-dvi.fr-fvr
{
  float:right;
}

button.fr-rounded,input.fr-rounded,textarea.fr-rounded
{
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

button.fr-large,input.fr-large,textarea.fr-large
{
  font-size:24px;
}

a.fr-strong,a.fr-view.fr-strong
{
  font-weight:700;
}

img.fr-view
{
  position:relative;
  max-width:100%;
}

img.fr-dib,img.fr-view.fr-dib
{
  display:block;
  float:none;
  vertical-align:top;
  margin:5px auto;
}

img.fr-dib.fr-fil,img.fr-view.fr-dib.fr-fil
{
  margin-left:0;
}

img.fr-dib.fr-fir,img.fr-view.fr-dib.fr-fir
{
  margin-right:0;
}

img.fr-dii,img.fr-view.fr-dii
{
  display:inline-block;
  float:none;
  vertical-align:bottom;
  margin-left:5px;
  margin-right:5px;
  max-width:calc(100% - 10px);
}

img.fr-dii.fr-fil,img.fr-view.fr-dii.fr-fil
{
  float:left;
  max-width:calc(100% - 5px);
  margin:5px 5px 5px 0;
}

img.fr-dii.fr-fir,img.fr-view.fr-dii.fr-fir
{
  float:right;
  max-width:calc(100% - 5px);
  margin:5px 0 5px 5px;
}

img.fr-rounded,img.fr-view.fr-rounded
{
  border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

img.fr-bordered,img.fr-view.fr-bordered
{
  border:solid 10px #CCC;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}

a.fr-green,a.fr-view.fr-green
{
  color:green;
}
