{##
 # Block content : footer
 #
 # @ListChild (list="dashboard-center.welcome.non-root.content", weight="20")
 #}

<div class="welcome-footer">
  {{ t('To change the roles of your profile, contact the store administrator') }}
</div>
