{##
 # Clear search
 #
 # @ListChild (list="searchPanel.xc.canadapost.productsreturn.admin.main.actions")
 #}

<a href="{{ url('capost_returns', 'clearSearch') }}" class="clear-search">{{ t('Clear search') }}</a>
