{##
 # Layout editor exit button
 #
 # @ListChild (list="layout_editor", weight="17")
 #}

<div class='layout-editor-css_editor'>
    {{ widget('XLite\\Module\\XC\\ThemeTweaker\\View\\Button\\CustomCssEditor', label=t('Edit styles'), style='layout-editor-custom_css_button') }}
</div>
