{##
 # Layout editor exit button
 #
 # @ListChild (list="layout_editor", weight="5")
 #}

<div class='layout-editor-toggle'>
	{{ widget('XLite\\View\\FormField\\Input\\Checkbox\\OnOff', label=t('Layout editor is'), style='layout-editor-toggle_button', isChecked='true') }}
</div>
