{##
 # Layout editor label
 #
 # @ListChild (list="layout_editor", weight="10")
 #}

<div class='layout-editor-message layout-editor--switchable'>
<span class='layout-editor-message_label'>{{ t('You are now in layout editing mode')|raw }}</span>
</div>