{##
 # Order history event date
 #
 # @ListChild (list="order.history.base.events.details.info", weight="20")
 #}
{% if this.getComment(this.event) %}
  <div id="event-{{ this.event.eventId }}" class="order-event-details event-{{ this.event.eventId }}">
    <div class="details">{{ this.getComment(this.event)|raw }}</div>
  </div>
{% endif %}
