{##
 # Popup button
 #}
<button type="button" class="{{ this.getClass() }}">
    {{ this.displayCommentedData(this.getURLParams()) }}
    {{ this.displaySVGImage('modules/XC/VendorMessages/images/disputes.svg') }}<span>{{ t(this.getButtonContent()) }}</span>
</button>
