{##
 # Create profile checkbox
 #}

<p class="subbox subnote create-warning">
  {{ t('There is already an account with your email address. You can sign in or continue as guest', {'URL': url('login')})|raw }}
</p>

<p class="subbox subnote create">
  {{ t('You can continue as guest or create an account', {'URL': url('profile', '', {'mode': 'register'}) })|raw }}
</p>
