{##
 # Add to Cart popup page template
 #}

<div class="add2cart-popup">

  <div class="item-box">
    {{ widget_list('add2cart_popup.item') }}
  </div>

  {{ widget_list('add2cart_popup.minicart') }}

  {{ widget_list('add2cart_popup.products') }}

</div>
