{##
 # Layout settings template
 #
 # @ListChild (list="layout_settings.settings", weight="20")
 #}
<div class="current-template"><span>{{ t('Current template') }}:</span> <span class="template-name">{{ this.getCurrentSkinName() }}</span></div>
