{##
 # License message template
 #}
<div class="license-message">
  <div class="alert alert-warning" role="alert">
    {{ t('This feature is available only for paid (non-free) X-Cart license plans', {'pricingUrl': this.getPricingURL()})|raw }}
  </div>
</div>