{##
 # Powered by box
 #}

{# Modification of this template or removal of the "Powered by X-Cart" label are forbidden for X-Cart Free Edition. #}

<div class="powered-by">
  <p class="copyright">&copy; {{ this.getCompanyYear() }} {{ this.getMessage()|raw }}</p>
</div>
