{##
 # UPS settings page main template
 #}
<div class="shipping-description">
  {{ t('UPS module allows to use online shipping rates calculation via UPS service.')|raw }}
</div>
{{ widget('XLite\\Module\\XC\\UPS\\View\\Model\\Settings') }}
