{##
 # Left side menu info node
 #}
<li {{ this.printTagAttributes(this.getContainerTagAttributes())|raw }}>
  {% include this.getLinkTemplate() %}
  {{ widget('XLite\\View\\Menu\\Admin\\LeftMenu\\Info\\LazyLoad') }}
</li>
