{##
 # Log out link
 #
 # @ListChild (list="layout.header.right.settings.links", weight="60")
 #}

{% if this.isLogged() %}
<li class="account-link-logoff">
	<a href="{{ url('login', 'logoff') }}" class="log-in icon-logout">
		<span>{{ t('Log out') }}</span>
	</a>
</li>
{% endif %}