{##
 # Account link
 #
 # @ListChild (list="layout.header.right.settings.links", weight="10")
 #}

<li class="account-link-profile">
  <a href="{{ url('profile', '') }}" class="profile icon-person">
  	{% if this.isLogged() %}
  		<span>{{ t('My account') }}</span>
  	{% else %}
  		<span>{{ t('New account') }}</span>
  	{% endif %}
  </a>
</li>
