{##
 # Express checkout
 #
 # @ListChild (list="itemsList.product.list.customer.info", weight="1100")
 #}
{% if this.isDisplayAdd2CartButton() %}
  <div class="add-to-cart-button pp-button">
    {% if not this.product.isOutOfStock() %}
      {{ widget('\\XLite\\Module\\CDev\\Paypal\\View\\Button\\ProductList\\ExpressCheckout', productId=this.product.product_id) }}
    {% endif %}
  </div>
{% endif %}
