/**
 * CloudSearch admin dashboard interface styles
 */

.cloud-search-iframe-wrapper {
  margin: 20px 0;
  width: 940px;
}

.cloud-search-iframe {
  width: 940px;
  height: 700px;
  overflow: hidden;
}

.cloud-search-load-progress {
  width: 940px;
}

.model-form-buttons .button.submit {
  display: none;
}

.blockUI h1 {
  color: #c6c6c6;
}

.dialog-content--cloud-filters {
  margin-top: -20px;
}