{##
 # iframe 
 #
 #}
<div id="xpc">
  <iframe id="xpc_iframe_{{ this.getPaymentId() }}" class="xpc_iframe" name="xpc_iframe" src="" data-src="{{ this.buildUrl('checkout', 'checkout', {'xpc_iframe': 1}) }}"></iframe>
</div>
