{##
 # Reviews list header
 #
 # @ListChild (list="product.reviews.page", weight="200")
 #}

<div class="header">
  <div class="left">
    <div class="head-h2">{{ t('Customer reviews') }}</div>
  </div>

  <div class="right">
    <div class="buttons">
      {{ widget_list('reviews.general') }}
    </div>
  </div>

  <div class="line"></div>

</div>
