{##
 # USPS module settings main page template
 #}
<div class="shipping-description">
  {{ t('U.S.P.S. module allows to use online shipping rates calculation via USPS Web Tools Ecommerce API.')|raw }}
</div>
{{ widget('XLite\\Module\\CDev\\USPS\\View\\Model\\Settings') }}
