{##
 # Register form template
 #}
<div class="subscriptions-list-container">
  <table class="data-table subscriptions-list">
    <tr>
      <td colspan="2">{{ t('Subscribe to our news list and be in touch with our latest offers.') }}</td>
    </tr>
  {% if this.isSelectBoxElement() %}
    <tr>
      <td colspan="2">
        {{ widget('\\XLite\\Module\\XC\\MailChimp\\View\\FormField\\Select\\MailChimpSubscription', fieldName=this.getSelectBoxName(), firldId=this.getSelectBoxId(), profile=this.profile) }}
      </td>
    </tr>
  {% else %}
    {% for list in this.getData() %}
      <tr class="subscriptions-line">
        <td class="subscriptions-checkbox">
          {{ widget('\\XLite\\Module\\XC\\CrispWhiteSkin\\View\\FormField\\Input\\Checkbox', value='1', fieldOnly='1', fieldName=this.getCheckboxName(list), fieldId=this.getCheckboxId(list), isChecked=this.checkIfSubscribed(list, this.profile)) }}
        </td>
        <td class="subscriptions-name">
          {{ list.getName() }}
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>
</div>
