{##
 # Modules main section list
 #
 # @ListChild (list="itemsList.module.install.columns.module-description-section.info-element", weight="10")
 #}
{##
 # TODO: Remove
<li><widget class="\XLite\View\VoteBar" rate="{module.getRating()}" max="5" /></li>
#}
