{##
 # Create return :: form
 #
 # @ListChild (list="capost_create_return", weight="100")
 #}

<div class="section-text">
  {{ t('To request a return please fill the form below') }}
</div>
 
<hr size="1" />
