{##
 # Create return :: form :: button
 #
 # @ListChild (list="capost_create_return.form", weight="300")
 #}

<div class="form-action">
  {{ widget('\\XLite\\View\\Button\\Submit', label=t('Create return')) }}
</div>
