{##
 # About clean urls section template
 #}

<p>
  {{ t('Every object stores history with 8 clean urls which were previously used for this object.') }}
</p>

<p>
  {{ t('Also, to manage your redirects you can define 301 redirects in .htaccess file.')|raw }}
</p>