{##
 # Page title format header clean urls settings template
 #}

<h3>
  {{ t(this.getLabel()) }}
  {{ widget('\\XLite\\View\\Tooltip', text=this.getHelpLabel(), isImageTag='true', className='help-icon')|raw }}
</h3>
