{##
 # Common selector
 #}

<span class="input-field-wrapper {{ this.getWrapperClass() }}">
  <label class="single-option-select form-control-label">{{ this.getValueLabel() }}</label>
  <input {{ this.getAttributesCode()|raw }} />
</span>
