{##
 # Switcher
 #}
<ul class="table">
  <li>
    {{ widget('XLite\\View\\FormField\\Input\\Checkbox\\OnOff', label='Webmaster mode', labelHelp='Webmaster Mode allows you to change the storefront design in click-and-edit mode', onLabel='webmasterMode.Enabled', offLabel='webmasterMode.Disabled', fieldName='edit_mode', value=this.config.XC.ThemeTweaker.edit_mode, comment=this.getStoreFrontLink()) }}
  </li>
</ul>
