{##
 # Progress section
 #}

<div class="store-data-info">
  {{ t('_MailChimp ecommerce info text_', {url: this.getGettingStartedURL()})|raw }}
</div>
<div class="store-data-box">
  {% form '\\XLite\\View\\Form' with {formTarget: 'mailchimp_store_data', formAction: 'updateStores'} %}
    {% for list in this.getLists() %}
      {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', {
        'label':      list.getName(),
        'fieldId':    'lists[' ~ list.getId() ~ ']',
        'fieldName':  'lists[' ~ list.getId() ~ ']',
        'isChecked':    this.isChecked(list) 
      }) }}
    {% endfor %}

    {{ widget('\\XLite\\Module\\XC\\MailChimp\\View\\StickyPanel\\StoreData') }}
  {% endform %}
</div>