{##
 # Fastlane checkout heading bar
 #
 # @ListChild (list="checkout_fastlane.header.left", weight="10")
 #}

<div class="checkout_fastlane_title">
  <h2>{{ this.getSecondaryTitle() }}</h2>
  <h1>{{ this.getTitle() }}</h1>
</div>