{##
 # Field : email
 #
 # @ListChild (list="signin-anonymous-title.continue", weight="110")
 #}

<tr>
  <td class="buttons-row">
    {{ widget('XLite\\View\\Button\\Submit', label=t('Continue'), style='anonymous-continue-button') }}
  </td>
</tr>