{##
 # Slidebar
 #}

<nav id="slidebar">
    {{ this.displayCommentedData(this.getPreloadedLabels()) }}
    <ul>
        <li class="slidebar-categories">
            <span data-toggle="dropdown">{{ t('Categories') }}</span>
            {{ widget_list('layout.header.categories') }}
        </li>
        {{ widget_list('header.menu', isSlidebar=true) }}
    </ul>
</nav>
