{##
 # Item SKU
 #
 # @ListChild (list="itemsList.product.table.customer.columns", weight="10")
 #}
<span class="product-sku">{% if this.product.sku %}{{ this.product.sku }}{% else %}&nbsp;{% endif %}</span>
