{##
 # Products list (list variant)
 #
 # @ListChild (list="itemsList.product.grid.customer.info", weight="10")
 # @ListChild (list="itemsList.product.small_thumbnails.customer.info", weight="10")
 # @ListChild (list="itemsList.product.big_thumbnails.customer.info", weight="100")
 #}
<div class="product-photo">
  {{ widget_list('photo', type='nested', product=this.product) }}
</div>
