{##
 # Fastlane checkout address section
 #
 # @ListChild (list="checkout_fastlane.blocks.popup_address_form.billing", weight="999")
 #}

{% if this.isSameAddressVisible() %}
    <li class="item-same_address input-checkbox-enabled clearfix form-group hidden">
        {{ widget('XLite\\View\\FormField\\Input\\Checkbox\\ApplyToBilling', value=false, fieldName='same_address', fieldId='popup_same_address')}}
    </li>
{% endif %}