<div class="special-offer-no-create-form">
  <p>{{ t('You have no special offer types enabled in your store. Please install at least one module that implements the special offers logic.') }}</p>
  <ul>
    <li><a href="https://www.x-cart.com/extensions/addons/buy-x-get-y.html">{{ t('Buy X Get Y') }}</a></li>
  </ul>
</div>
