{##
 # Home location node
 #}

<li class="location-node">
  <a href="{{ this.getLink() }}" class="location-title home-link"><img src="{{ asset('images/home.svg') }}" alt="{{ this.getName()|raw }}" /></a>
</li>
