{##
 # Entry new version
 #
 # @ListChild (list="upgrade.step.ready_to_install.entries_list.sections.table.columns", weight="300")
 # @ListChild (list="upgrade.step.completed.entries_list.sections.table.columns", weight="300")
 #}

<td class="new-version">{{ this.entry.getVersionNew() }}</td>
