{##
 # Invoice address field
 #}

<tr>
    <td style="padding-right: 4px;white-space: nowrap;float: left; margin-left: 0px;" class="{{ this.field.css_class }} address-field">
        <span style="font-size: 14px;line-height: 20px;padding-top: 8px;color: #000;">{{ this.field.value }}</span>
    </td>
</tr>


