{##
 # Footer
 #
 # @ListChild (list="layout.footer", weight="500")
 #}

<div id="footer-area">
    {{ widget_list('layout.main.footer.before') }}
    <div class="container">
        {{ widget_list('layout.main.footer') }}
    </div>
</div>
