{##
 # "Module upgrade needed"
 #
 # @ListChild (list="itemsList.module.manage.columns.module-main-section.messages.cannot_enable", weight="400")
 # @ListChild (list="itemsList.module.install.columns.module-main-section.cannot_enable", weight="400")
 #}

{% if this.isUpgradeRequestAvailable(this.module) %}
    <div class="request-for-upgrade" data-module-id="{{ this.module.getModuleId() }}">
        {{  widget('XLite\\View\\Button\\ProgressState',
        label=t('Request for upgrade'),
        style='btn regular-button always-enabled') }}
    </div>
{% endif %}
