{##
 # Checkout : shipping step : selected state : shipping subsection
 #
 # @ListChild (list="checkout.shipping.selected", weight="200")
 #}

<div class="subsection payment-section">
  {{ widget_list('checkout.shipping.selected.sub.payment') }}
</div>

