{##
 # Checkout : shipping step : selected state : shipping subsection
 #
 # @ListChild (list="checkout.shipping.selected", weight="100")
 #}

<div class="subsection shipping-section">
  {{ widget_list('checkout.shipping.selected.sub.shipping') }}
</div>

