{##
 # Top message for the advanced mode
 #
 # @ListChild (list="upgrade.install_updates.sections", weight="100")
 #}

{% if this.isAdvancedMode() %}
  <div class="upgrade-warning">{{ t('In advanced mode you can choose specific modules for upgrade.') }}</div>
{% endif %}

{% if this.isAdvancedMode() %}
  <div class="alert alert-warning upgrade-warning">{{ t('Please take your attention that it is not guaranteed the correct site operation after upgrade if you select to not upgrade all.') }}</div>
{% endif %}
