{##
 # Acquire pin codes failed email body (to admin)
 #}
<p>
{% for index, item in this.items %}
  {% if item.countMissingPinCodes() %}
    <div>
      {{ item.product.name|raw }} : {{ t('X PIN Codes were not assigned.', {'count': item.countMissingPinCodes()}) }}
    </div>
  {% endif %}
{% endfor %}
</p>
