{##
 # @ListChild (list="itemsList.xc.bulkediting.category.header", weight="100")
 # @ListChild (list="itemsList.xc.bulkediting.inventory.header", weight="100")
 # @ListChild (list="itemsList.xc.bulkediting.priceandmembership.header", weight="100")
 # @ListChild (list="itemsList.xc.bulkediting.shippinginfo.header", weight="100")
 #}
<h2 class="count-selected">{{ t('X items selected', {'count': this.getItemsCount()}) }}</h2>
