{##
 # Body
 #}

<div class="filter product-tags clearfix">
  <ul class="clearfix attributes">
    <li class="clearfix type-s">
        {{ widget('XLite\\Module\\XC\\ProductTags\\View\\FormField\\Select\\CheckboxList\\TagSelector', fieldName='filter[tags]', useColon='false', label='Tags', value=this.getValue()) }}
    </li>
  </ul>
</div>