{##
 # Translation label
 #}

<span{{ this.getAttributesCode()|raw }}>
  {{ this.getLabelValue()|raw }}
  {% if this.getValue() %}
    <a class="edit" href="{{ this.getLabelEditURL() }}">{{ t('[Edit]') }}</a>
  {% endif %}
</span>
