<ul class="selected-items">
    {% for idx, item in this.getPageData() %}
        <li class="selected-item">
            <h2 class="item-name">{{ this.getItemName(item) }}</h2>

            <ul class="sections">
                {% for sectionName, section in this.getScenarioFields(item) %}
                    <li>
                        {% if section.label %}
                            <h3 class="section-name">{{ section.label }}</h3>
                        {% endif %}
                        <div class="section-fields">
                            <ul class="section-fields-list">
                                {% for name, field in section.fields %}
                                    <li>
                                        <span class="field-name">{{ field.label }}:</span>
                                        <span class="field-value">{{ field.value }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>