{##
 # Field : username
 #
 # @ListChild (list="customer.signin.fields", weight="100")
 # @ListChild (list="customer.signin.popup.fields", weight="100")
 #}

<tr>
  <td class="email-label"><label for="login-email">{{ t('Email') }}:</label></td>
  <td class="email-field field">
    {{ widget('XLite\\View\\FormField\\Input\\Text\\Email', value=this.login, required='true', fieldName='login', label=t('Email'), fieldOnly='true', fieldId='login-email') }}
  </td>
</tr>
