{##
 # Field : password
 #
 # @ListChild (list="customer.signin.fields", weight="200")
 # @ListChild (list="customer.signin.popup.fields", weight="200")
 #}

<tr>
  <td class="password-label"><label for="login-password">{{ t('Password') }}:</label></td>
  <td class="password-field field">
    {{ widget('XLite\\View\\FormField\\Input\\Password', required='true', fieldName='password', label=t('Password'), fieldOnly='true', fieldId='login-password') }}
  </td>
</tr>
