{##
 # Link : create account
 #
 # @ListChild (list="customer.signin.links", weight="100")
 #}

<a class="create-account-link" href="{{ url('profile', '', {'mode': 'register'}) }}">{{ t('Create account') }}</a>
