{##
 # Order address : buttons
 #
 # @ListChild (list="address.order.main", weight="400")
 #}

<div class="buttons">
  {{ widget('XLite\\View\\Button\\Submit', label=t('Save changes'), style='action') }}
</div>
