{##
 # Checkout : order review step : items : subtotal
 #
 # @ListChild (list="checkout.review.selected.items", weight="10")
 # @ListChild (list="checkout.review.inactive.items", weight="10")
 #}
<div class="items-row clearfix">
  <a href="#" v-on:click.prevent="toggleItems">{{ t('X items in bag', {'count': this.cart.countQuantity()})|raw }}</a>
  <span class="price">
    {{ widget('XLite\\View\\Surcharge', surcharge=this.cart.getDisplaySubtotal(), currency=this.cart.getCurrency()) }}
  </span>
</div>