{##
 # Checkout : order review step : selected state : place order : order note
 #
 # @ListChild (list="checkout.review.selected.placeOrder", weight="200")
 #}

<div class="notes">
  <label for="place_order_note">{{ t('Customer note') }}:</label>
  <textarea name="notes" id="place_order_note" class="form-control"></textarea>
</div>
