{##
 # Checkout : order review step : selected state : place order : agree note
 #
 # @ListChild (list="checkout.review.selected.placeOrder", weight="500")
 #}

<p class="agree-note">{{ t('Clicking the Place order button you accept: Terms and Conditions', {'URL': this.getTermsURL()})|raw }}</p>
