{##
 # Checkout : order review step : selected state : place order : button
 #
 # @ListChild (list="checkout.review.selected.placeOrder", weight="400")
 #}

<div class="button-row">
  {{ widget('\\XLite\\View\\Button\\PlaceOrder') }}
</div>
