{##
 # Layout settings template
 #
 # @ListChild (list="layout_settings.settings", weight="30")
 #}
<div class="layout-type-selector">
  {{ widget('XLite\\View\\FormField\\Select\\LayoutType', availableTypes=this.getLayoutTypes(), label=t('Layout type'), value=this.getLayoutType()) }}
</div>
