{##
 # Free shipping label (for product details page)
 #}

<div class="product-freeship-label {{ this.getFingerprint() }}">
    {{ widget(template='label/body.twig', labelContent=t('Free shipping')) }}
</div>
