{##
 # Payment methods list : line : header
 #
 # @ListChild (list="payment.methods.list.line", weight=100)
 #}

<div class="line-header clearfix">
  {{ widget_list('payment.methods.list.header', method=this.method) }}
</div>
