{##
 # Orders search Products condition
 #}
<tr class="products">
  <td class="title">{{ t('Products') }}:</td>
  <td><input type="text" name="products" value="{{ this.getCondition('products') }}" /></td>
</tr>
