{##
 # Orders search buttons
 #
 # @ListChild (list="orders.search.conditions", weight="40")
 #}
<tr class="buttons">
  <td class="clear-all">

  {# TODO Restore
  <a href="javascript:void(0);" onclick="javascript:">{t(#Clear all fields#)}</a>
  #}

  </td>
  <td class="button-cell">{{ widget('\\XLite\\View\\Button\\Submit', label='Apply filters') }}</td>
</tr>
