{##
 # Orders search Order ID condition
 #}
<tr class="order-id">
  <td class="title">{{ t('Order number') }}:</td>
  <td><input type="text" name="orderNumber" value="{{ this.getCondition('orderNumber') }}" /></td>
</tr>
