{##
 # Resize progress section
 #}
<div class="event-task-progress-page bulk-edit-box bulk-edit-progress">

  <div class="header clearfix">
    <h2>{{ t('Bulk Edit processing in progress...') }}</h2>
  </div>

  <div class="content">
    {% form 'XLite\\Module\\XC\\BulkEditing\\View\\Form\\Progress' %}
    <div class="subcontent clearfix">
      {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName(), message=this.getProgressMessage() ) }}
    </div>
    {% endform %}
  </div>

</div>
