{##
 # "Do not see your payment method? Find it on our Marketplace" widget for popup
 #}

<div class="marketplace-block">
  {{ t('Do not see your payment method? Find it on our Marketplace', {'url': url('addons_list_marketplace', '', {'tag': 'Payment processing', 'clearPager': 1, 'substring': ''})})|raw }}
</div>
