{##
 # Payment methods list : line : header : title
 #
 # @ListChild (list="payment.methods.list.header", weight=200)
 #}

<div class="title">{{ this.method.getName() }}<img src="{{ asset('images/spacer.gif') }}" class="fade" alt="" /></div>
