{##
 # Remove data page template
 #
 # @ListChild (list="itemsList.removedata.header", weight="100")
 #}

<p class="alert alert-warning note" role="alert">{{ t('This tool allows you to get rid of any content that might have been created in your store for testing purposes and which you no longer need.')|raw }}</p>
