{##
 # Notifications list table template
 #
 # @ListChild (list="itemsList.notification.header", weight="100")
 #}

<div class="alert alert-info" role="alert">
  {{ t('This page allows you to adjust the types of email notifications your store sends to users') }}
</div>
