{##
 # Inline text field view
 #}

<span class="value">
  {% include 'form_field/inline/popup/address/view.address.twig' %}
  {% include 'form_field/inline/popup/address/order/view.same.twig' %}
</span>
