{##
 # Register anonymous email body (to customer)
 #}
<p>
  {{ this.getNotificationText()|raw }}
</p>
<p>
  {{ t('Your account email is X.', {'email': this.profile.login}) }}<br/>
  {{ t('Your account password is X.', {'password': this.password}) }}
</p>
