{##
 # Body
 #}

<div class="filter product-tags clearfix">
  {{ widget('XLite\\Module\\XC\\ProductTags\\View\\FormField\\Select\\CheckboxList\\TagSelector', fieldName='filter[tags]', useColon='false', label='Tags', value=this.getValue()) }}
</div>