{##
 # Log out link
 #
 # @ListChild (list="layout.header.bar.links.logged", weight="500")
 #}

<hr />
<li class="account-link-logoff">
	<a href="{{ url('login', 'logoff') }}" class="log-in icon-logout">
		<span>{{ t('Log out') }}</span>
	</a>
</li>
