{##
 # Header bar language menu
 #}

<div class="header_bar-locale dropdown">
	<a data-target="#" data-toggle="dropdown">
		{{ widget_list('layout.header.bar.locale') }}
	</a>
	<div class="dropdown-menu">
		{{ widget_list('layout.header.bar.locale.menu') }}
	</div>
</div>