{##
 # Account link
 #
 # @ListChild (list="layout.header.bar.links.logged", weight="200")
 #}

<li class="account-link-profile">
  <a href="{{ url('profile', '') }}" class="profile icon-person">
  	<span>{{ t('My account') }}</span>
  </a>
</li>
