{##
 # Wholesale prices table
 #
 # @ListChild (list="wholesale.price.widgetlist", weight="50")
 #}

{% if this.wholesalePrice.getSavePriceValue() > 0 %}
  <td>
    <span class="save-price-label">{{ t('save') }}</span>
    <span class="save-price-value">{{ this.wholesalePrice.getSavePriceValue() }}%</span>
  </td>
{% endif %}
