{##
 # Fastlane checkout heading bar
 #
 # @ListChild (list="checkout_fastlane", weight="20")
 #}

<div is="sections" inline-template class="checkout_fastlane_sections">
	{{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Sections') }}
	{{ widget_list('checkout_fastlane.sections.after') }}
</div>