{##
 # Recover password : note
 #
 # @ListChild (list="recover.password", weight="100")
 #}

<div class="recover-password-message">{{ t('To recover your password, please type in the valid e-mail address you use as a login') }}</div>
<div class="recover-password-message">{{ t('The confirmation URL link will be emailed to you shortly') }}</div>
