{##
 # ____file_title____
 #
 # @ListChild (list="file_select_dialog.actions", weight="100")
 #}

<div class="upload-file">
  {{ widget('\\XLite\\View\\Button\\Submit', label=t('Upload'), style='main-button') }}
</div>
