{##
 # ____file_title____
 #
 # @ListChild (list="file_select_dialog.file_selections", weight="300")
 #}

<li class="local-server-label label-field">
  <input type="radio" id="file_select_local" name="file_select" value="local" />
  <label for="file_select_local">{{ t('from local server') }}</label>
</li>
