{##
 # ____file_title____
 #
 # @ListChild (list="file_select_dialog.file_selections", weight="100")
 #}

<li class="local-computer-label label-field">
  <input type="radio" id="file_select_upload" name="file_select" value="upload" />
  <label for="file_select_upload">{{ t('from local computer') }}</label>
</li>
