{##
 # Import begin section : settings
 #
 # @ListChild (list="import.begin.content", weight="200")
 #}

<div class="options">
  <h3>{{ t('Import settings') }}</h3>
  <ul class="small-input">
    {{ widget_list('import.begin.options') }}
  </ul>
</div>
