{##
 # Import begin section : settings : delete temporary files
 #
 # @ListChild (list="import.begin.options", weight="200")
 #}

<li class="checkbox-option" style="display: none;">
  <label for="clearImportDir">{{ t('Delete temporary files after the import is completed') }}</label>
  <input type="checkbox" name="options[clearImportDir]" value="1" id="clearImportDir" />
</li>
