{##
 # Substring
 #
 # @listChild (list="products.search.conditions.substring", weight="100")
 #}

<td class="substring-cell">
  <input type="text" class="form-text form-control" size="30" maxlength="200" name="substring" value="{{ this.getCondition('substring') }}" />
</td>
