{##
 # Button
 #
 # @listChild (list="products.search.conditions.substring", weight="200")
 # @listChild (list="products.search.conditions-responsive.substring", weight="200")
 #}

<td class="submit-button">
  {{ widget('\\XLite\\View\\Button\\Submit', label='Search', style='search-form-submit') }}
</td>
