{##
 # Paypal Credit banner
 #}

<div class="paypal-credit {{ this.getCSSClasses() }}">
  <script type="text/javascript" data-pp-pubid="{{ this.getPublisherId() }}" data-pp-placementtype="{{ this.getPlacementType() }}">
    //<![CDATA[
    (function (d, t) {
      "use strict";
      var s = d.getElementsByTagName(t)[0], n = d.createElement(t);
      n.src = "//paypal.adtag.where.com/merchant.js";
      s.parentNode.insertBefore(n, s);
    }(document, "script"));
    //]]>
  </script>
</div>
