{##
 # Entry name
 #
 # @ListChild (list="upgrade.step.prepare.entries_list_update.sections.table.columns", weight="100")
 #}

<td class="module-info">
  <span class="name">{{ this.entry.getName() }}</span>
  <span class="author">({{ t('by') }} {{ this.entry.getAuthor() }})</span>
</td>
