{##
 # Checkout : post office step : selected state : methods
 #}

<div class="substep step-capost-offices">
  {% include 'modules/XC/CanadaPost/checkout/steps/shipping/parts/post_offices_list.twig' %}
</div>
