{##
 # Export failed section
 #}

<div class="export-box export-failed">

  <div class="header clearfix">
    <h2><i class="icon-exclamation-sign"></i>  {{ t('Export failed') }}</h2>
  </div>

  <div class="content">
    <div class="subcontent clearfix">
      {{ widget_list('export.failed.content') }}
    </div>
    <div class="buttons">
      {{ widget_list('export.failed.buttons') }}
    </div>
  </div>

</div>
