{##
 # Upgrade entry icon
 #
 # @ListChild (list="upgrade.step.prepare.incompatible_entries_upgrade.sections.table.info", weight="200")
 #}
<li class="module">
  <ul class="details">
  {{ widget_list('sections.table.info.module', type='inherited', entry=this.entry) }}
  </ul>
</li>
