{##
 # Upgrade entry name
 #
 # @ListChild (list="upgrade.step.prepare.incompatible_entries_upgrade.sections.table.info", weight="100")
 #}
<li class="name"><a href="{{ this.getInstalledModuleURL(this.entry) }}">{{ this.entry.getModuleName() }}</a></li>
