{##
 # Modules main description section list
 #
 # @ListChild (list="itemsList.module.manage.columns.module-description-section", weight="10")
 # @ListChild (list="itemsList.module.install.columns.module-description-section", weight="10")
 #}

<div class="description">{{ this.module.getDescription() }}</div>
