{##
 # 'Upgrade not allowed' widget template
 #
 # @author    Qualiteam software Ltd <info@x-cart.com>
 # @copyright Copyright (c) 2011-2015 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 # @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 # @link      http://www.x-cart.com/
 #}
 
<div class="upgrade-disallowed">
  <div class="upgrade-disallowe-content">
    <div class="head">{{ this.getSectionHeadMessage() }}</div>
    <div class="description">
      {{ this.getSectionDescription() }}
    </div>
  </div>
</div>
