{##
 # ____file_title____
 #
 # @ListChild (list="file_select_dialog.file_selections", weight="200")
 #}

<li class="local-computer-input input-field">
  <input type="file" name="uploaded_file" />
  <span class="upload-file-message">{{ this.getUploadFileMessage() }}</span>
</li>
