{##
 # ____file_title____
 #
 # @ListChild (list="file_select_dialog.file_selections", weight="500")
 #}

<li class="url-label label-field">
  <input type="radio" id="file_select_url" name="file_select" value="url" />
  <label for="file_select_url">{{ t('from URL') }}</label>
</li>
