{##
 # ____file_title____
 #
 # @ListChild (list="file_select_dialog.file_selections", weight="600")
 #}

<li class="url-input input-field">
  {{ widget('\\XLite\\View\\FormField\\Input\\Text', fieldName='url', fieldOnly='true', value='') }}
</li>
