{##
 # Pilibaba configuration page
 #}

<div class="barcode-block-wrapper" data-img-src="{{ this.getBarcodeUrl() }}" data-img-alt="{{ t('Pilibaba barcode') }}">
    <span class='barcode-image-placeholder hidden'>{{ t('Pilibaba barcode failed to load') }}</span>
</div>
