{##
 # module
 #}

<a href="{{ this.moduleParam.link.href }}" class="marketplace-search">
    <img src="{{ this.layout.getResourceWebPath(this.moduleParam.img.src) }}" alt="{{ this.moduleParam.img.alt }}">
    <span class="link-wrapper">{{ this.moduleParam.link.name }}</span>
</a>