{##
 # ____file_title____
 #}
<span class="validate-error-message">&nbsp;&nbsp;&lt;&lt;&nbsp;{% if not this.shipping_already_exists %}{{ t('Required field') }}{% else %}{{ t('Already exists') }}{% endif %}</span>
