{##
 # Fastlane checkout payment right section
 #
 # @ListChild (list="checkout_fastlane.sections.shipping.right", weight="10")
 #}

<div class="checkout_fastlane_details_box">
	{{ widget_list('checkout_fastlane.sections.shipping.details') }}
</div>