<order-notes inline-template class="floating-label">
	<label for="order_note">{{ t('Order note') }}</label>
	<textarea class="form-control" rows="3" name="notes" v-model="notes" lazy id="order_note" placeholder="{{ t('Any special needs?') }}"></textarea>
</order-notes>