{##
 # Product element
 #
 # @ListChild (list="product.modify.list", weight="560")
 #}

<tr>
  <td class="name-attribute">&nbsp;</td>
  <td class="star">&nbsp;</td>
  <td class="value-attribute">
    {{ widget('\\XLite\\Module\\CDev\\Sale\\View\\ProductModifySale') }}
  </td>
</tr>
