{##
 # Header right box
 #
 # @ListChild (list="layout.header.mobile.menu", weight="100")
 #}

<li class="dropdown mobile_header-slidebar">
  <a id="main_menu" href="#slidebar">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
      <path d="M1.9,15.5h16.2v-1.8H1.9V15.5z M1.9,11h16.2V9.2H1.9V11z M1.9,4.7v1.8h16.2V4.7H1.9z"/>
    </svg>
  </a>
</li>