{##
 # Next product links
 #
 # @ListChild (list="next_previous.product.body", weight="200")
 #}

<div style="display: none;" class="next-previous-cookie-data" data-xc-product-id="{{ this.item.getProductId() }}"    data-xc-next-previous="{{ this.dataString }}"></div>
