{##
 # Configuration
 #}
{% if this.hasAmazonWarning() %}
  <div class="alert alert-warning">
    {{ this.getAmazonWarning()|raw }}
  </div>
{% endif %}

{{ widget('\\XLite\\View\\Model\\Settings') }}