
{% if this.getPageData() %}
  <ul class="list">
    {% for order in this.getPageData() %}
      <li class="order-{{ order.order_id }}">
        {{ widget('XLite\\View\\Order\\ListItem', order=order) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
