{##
 # Item thumbnail
 #
 # @ListChild (list="itemsList.product.grid.customer.info.photo", weight="10")
 # @ListChild (list="itemsList.product.small_thumbnails.customer.info.photo", weight="10")
 # @ListChild (list="itemsList.product.big_thumbnails.customer.info.photo", weight="10")
 # @ListChild (list="productBlock.info.photo", weight="100")
 #}
<a
  href="{{ this.getProductURL(this.categoryId) }}"
  class="product-thumbnail">
  {{ widget('\\XLite\\View\\Image', image=this.product.getImage(), maxWidth=this.getIconWidth(), maxHeight=this.getIconHeight(), alt=this.getIconAlt(), className='photo') }}
</a>
