{##
 # Overlapping box
 #
 # @ListChild (list="itemsList.product.grid.customer.info", weight="0")
 # @ListChild (list="itemsList.product.list.customer.info", weight="0")
 # @ListChild (list="itemsList.product.small_thumbnails.customer.info", weight="first")
 # @ListChild (list="itemsList.product.big_thumbnails.customer.info", weight="first")
 #}

<div class="drag-n-drop-handle">
  {% for itemParam in this.getItemHoverParams() %}
    <span class="{{ itemParam.style }}">{{ itemParam.text }}</span>
  {% endfor %}
</div>
