{##
 # Item name
 #
 # @ListChild (list="itemsList.product.small_thumbnails.customer.info", weight="20")
 #}
<div class="details">
  {{ widget_list('details', type='inherited', product=this.product) }}
</div>
