{##
 # Fastlane checkout address section
 #
 # @ListChild (list="checkout_fastlane.sections.shipping.right", weight="0")
 #}

<h3 class="checkout_fastlane_block_heading">{{ t('Delivery method') }}</h3>