{##
 # Fastlane checkout address section
 #
 # @ListChild (list="checkout_fastlane.sections.shipping.left", weight="0")
 #}

<h3 class="checkout_fastlane_block_heading">{{ t('Shipping address') }}</h3>