{##
 # Fastlane checkout address section
 #
 # @ListChild (list="checkout_fastlane.sections.shipping.left", weight="30")
 #}

<div class='checkout_fastlane_order_note'>
	{{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Blocks\\OrderNotes') }}
</div>