{##
 # Header right box
 #
 # @ListChild (list="layout.header.mobile.menu", weight="1000")
 #}

<li class="dropdown mobile_header-right_menu">
    <div class="header-right-bar">
      {{ widget_list('layout.header.right.mobile', displayMode='horizontal') }}
    </div>
</li>