{##
 # Review block
 #
 # @ListChild (list="reviews.review", weight="200")
 #}
<div class="rating clearfix">
  {{ widget('\\XLite\\Module\\XC\\Reviews\\View\\VoteBar', rate=this.review.getRating(), max='5') }}
</div>
