{##
 # News messages :: name cell
 #
 # @ListChild (list="itemsList.newsMessages.customer.top.row", weight="200")
 #}

<a href="{{ url('news_message', '', {'id': this.model.id}) }}">{{ this.model.name }}</a>
