{##
 # Calculate quick data progress section
 #}
<div class="memberships-quick-data-box memberships-quick-data-progress">

  <div class="content">
    {% form 'XLite\\View\\Form\\MembershipsQuickData' with {formAction: 'calculationCancel'} %}
    <div class="subcontent">
      {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName(), message=this.getProgressMessage() ) }}
    </div>
    {% endform %}
  </div>

</div>
