{##
 # iDEAL Professional (Rabobank) input form
 #}

<ul class="form clearfix">

  <li class="clearfix">
    {{ widget('XLite\\Module\\XC\\IdealPayments\\View\\FormField\\Select\\Issuer', fieldName='payment[iid]', label=t('Select issuer'), required='true') }}
  </li>

</ul>
