{##
 # Title
 #
 # @ListChild (list="product.attachments.properties", weight="100", zone="admin")
 #}
<table cellspacing="0" class="form">
  {{ widget_list('product.attachments.form', attachment=this.attachment) }}
</table>
