{##
 # Payment test
 #
 # @ListChild (list="all-in-one-solutions.header", zone="customer", weight="1")
 #}

<div>中国用户请点击Pilibaba按钮跳转至中文页面付款</div>
<div>Chinese customers please click Pilibaba button to complete checkout</div>
