{##
 # Export begin section : settings
 #
 # @ListChild (list="export.begin.content", weight="200")
 #}

<div class="options">
  <h3>{{ t('Export settings') }}</h3>
  <ul class="small-input">
    {{ widget_list('export.begin.options') }}
  </ul>
</div>
