{##
 # Export completed section : button
 #
 # @ListChild (list="export.popup.completed.content", weight="100")
 #}

 <p class="help">{{ t('The download should start automatically. Click the link if does not start.') }}</p>