{##
 # Next product links
 #
 # @ListChild (list="next_previous.product.body.dropdown", weight="300")
 #}

<div class="next-previous-price">
    {{ widget('\\XLite\\Module\\XC\\NextPreviousProduct\\View\\Price', product=this.item, displayOnlyPrice='1') }}
</div>
