{##
 # Invoice bottom block
 #
 # @ListChild (list="invoice.base", weight="50")
 #}
<table style="border-color: #cadce8;width: 100%;max-width: 700px; border-collapse: collapse;">

    {% if this.order.isPaymentShippingSectionVisible() %}
      <tr>
        {% if this.order.isPaymentSectionVisible() %}
          <td style="padding-top: 20px;padding-right: 15px; padding-bottom: 20px; padding-left: 20px; width: 48%;font-size: 15px;vertical-align: top;background: #f9f9f9;">
            <div style="position: relative;min-width: 300px;background: #f9f9f9;min-height: 270px;border-radius: 6px;">
            {{ widget_list('invoice.bottom.address.billing', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
            </div>
          </td>
        {% endif %}
        <td style="width: 4%;">&nbsp;</td>
        {% if this.order.isShippingSectionVisible() %}
          <td style="padding-top: 20px;padding-right: 0; padding-bottom: 20px; padding-left: 20px; width: 48%;font-size: 15px;vertical-align: top; background: #f9f9f9;">
            <div style="position: relative;min-width: 300px;background: #f9f9f9;min-height: 270px;border-radius: 6px;">
            {{ widget_list('invoice.bottom.address.shipping', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
            </div>
          </td>
        {% endif %}
        {% if not this.order.isShippingSectionVisible() %}
          <td style="min-width: 300px;">&nbsp;</td>
        {% endif %}
      </tr>
    {% endif %}

    {% for w in this.getViewList('invoice.bottom', {'order': this.order}) %}
      <tr>
          <td style="background: #f9f9f9;">
              {{ w.display() }}
          </td>
      </tr>
    {% endfor %}

</table>
