{##
 # Invoice shipping methods
 #
 # @ListChild (list="invoice.bottom.address.shipping", weight="20")
 #}
<div style="font-size: 15px;margin-top:15px;">
  <strong style="color: #000;font-size: 20px;padding-bottom: 6px;display: block;font-weight: normal;">{{ t('Shipping method') }}</strong>
  {% if this.getShippingModifier() and this.shippingModifier.getMethod() %}
    {{ this.shippingModifier.method.getName()|raw }}
  {% elseif this.order.getShippingMethodName() %}
    {{ t(this.order.getShippingMethodName())|raw }}
  {% else %}
    {{ t('n/a') }}
  {% endif %}
</div>