{##
 # Invoice shipping address
 #
 # @ListChild (list="invoice.bottom.address.shipping", weight="20")
 #}
<strong style="color: #000;font-size: 20px;font-weight: normal;padding-bottom: 3px;">{{ t('Shipping address') }}</strong>

{% if this.saddress %}
  <table style="border: none; border-collapse: collapse; padding: 0; margin: 0;">
    {% for idx, field in this.getAddressSectionData(this.saddress) %}
      {% if this.getAddressFiledTemplate('s', idx, field) %}
        {{ widget(template=this.getAddressFiledTemplate('s', idx, field), field=field) }}
      {% endif %}
    {% endfor %}
  </table>
{% endif %}
