{##
 # Invoice shipping status
 #
 # @ListChild (list="invoice.bottom.address.shipping", weight="30")
 #}
{% if this.order.getShippingStatus() %}
  <div class="shipping-status" style="font-size: 15px;margin-top:15px">
    <strong style="color: #000;font-size: 20px;padding-bottom: 6px;display: block;font-weight: normal;">{{ t('Shipping status') }}:</strong>
    {{ this.order.shippingStatus.getCustomerName()|raw }}
  </div>
{% endif %}
