{##
 # Invoice payment status
 #
 # @ListChild (list="invoice.bottom.address.billing", weight="30")
 #}
{% if this.order.getPaymentStatus() %}
  <div class="payment-status" style="font-size: 15px;margin-top:15px">
    <strong style="color: #000;font-size: 20px;padding-bottom: 6px;display: block;font-weight: normal;">{{ t('Payment status') }}:</strong>
    {{ this.order.paymentStatus.getCustomerName()|raw }}
  </div>
{% endif %}
