{##
 # Invoice : header : logo
 #
 # @ListChild (list="invoice.head", weight="20")
 #}
<td align="right">
  <img src="{{ this.getInvoiceLogo() }}" alt="{{ this.config.Company.company_name }}" class="logo" style="max-width: 95%; width: auto;"/>
</td>
