{##
 # Quantity item cell
 #
 # @ListChild (list="invoice.item", weight="20")
 #}
<td style="text-align: center;vertical-align: top;border-width:1px;border-collapse: collapse;border-spacing: 0px;border-style: solid;border-color: #c4c4c4;padding: 10px 20px;vertical-align: top;">{{ this.item.getAmount() }}</td>
