{##
 # Total item cell
 #
 # @ListChild (list="invoice.item", weight="30")
 #}
<td style="text-align:right;vertical-align: top;border-width:1px;border-collapse: collapse;border-spacing: 0px;border-style: solid;border-color: #c4c4c4;padding: 10px 20px;vertical-align: top;">{{ this.formatInvoicePrice(this.item.getTotal(), this.order.getCurrency(), 1) }}</td>
