{##
 # SKU item cell
 #
 # @ListChild (list="invoice.item.name", weight="10")
 #}
<tr>
    <td style="line-height: 1.6em;color: #5a5a5a; vertical-align: top;display:inline-block;">
        {{ t('SKU') }} {{ this.item.getSku() }}
    </td>
</tr>

