{##
 # Invoice items
 #
 # @ListChild (list="invoice.base", weight="30")
 # @ListChild (list="invoice.base.items", weight="10")
 #}
<table style="border-color: #c4c4c4;border-width:1px;border-collapse: collapse;border-spacing: 0;max-width: 700px;width: 100%;margin-top: 24px;">
  <tr style="border: 0 none;">{{ widget_list('invoice.items.head') }}</tr>
  {% for index, item in this.getOrderItems() %}
  <tr style="border: 0 none;">{{ widget_list('invoice.item', item=item) }}</tr>
  {% endfor %}
  {% for w in this.getViewList('invoice.items') %}
    <tr style="border: 0 none;">{{ w.display() }}</tr>
  {% endfor %}
</table>
