{##
 # Invoice totals : subtotal
 #
 # @ListChild (list="invoice.base.totals", weight="100")
 #}
<tr>
    <td style="color: #000000;padding: 0;vertical-align: top; border: none;">
        <span style="color: #5a5a5a;">{{ t('Subtotal') }}:</span>
        <span style="color: #5a5a5a;padding-left: 6px;">{{ this.getOrderSubtotal()|raw }}</span>
    </td>
</tr>

