{##
 # Invoice totals
 #
 # @ListChild (list="invoice.base", weight="40")
 #}

<table style="border: none; border-collapse: collapse; padding: 0; margin: 0;width: 100%; max-width: 700px; text-align: right; margin-top: 10px;">
    {{ widget_list('invoice.base.totals') }}
    <tr><td style="font-size: 25px;">&nbsp;</td></tr>
</table>

