{##
 # Modules main section list
 #
 # @ListChild (list="itemsList.module.manage.columns.module-main-section", weight="30")
 # @ListChild (list="itemsList.module.install.columns.module-main-section", weight="30")
 #}
{% set list = this.getNestedViewList('actions', {'module': this.module, 'canEnable': this.canEnable(this.module, 1), 'canDisable': this.canDisable(this.module, 1)}) %}

{% if list is not empty %}
  <ul class="actions clearfix">
    {% for i, action in list %}
      <li class="{{ action.getName() }} {{ this.buildListItemClass('action') }}">{{ action.display() }}</li>
    {% endfor %}
  </ul>
{% endif %}
