{##
 # Modules main section list
 #
 # @ListChild (list="itemsList.module.install.columns.module-main-section", weight="10")
 #}

<div class="name"><a class="module-name no-link" name="{{ this.module.getName() }}">{{ this.module.getModuleName() }}</a></div>
