{##
 # Wholesale prices table
 #}

<div class="wholesale-prices {{ this.getFingerprint() }}">
  {% if this.getWholesalePrices() %}
    {{ widget_list('wholesale-quicklook.price') }}
  {% endif %}
</div>
