{##
 # Buttons
 #
 # @ListChild (list="review.modify.buttons.approved", weight="600")
 #}
{% if this.entity.isApproved() %}
  <div class="button submit">
    {{ widget('\\XLite\\View\\Button\\Submit', style='regular-main-button button-submit') }}
  </div>
{% endif %}

{% if this.entity.isNew() %}
  <div class="button submit">
    {{ widget('\\XLite\\View\\Button\\Submit', style='regular-main-button button-create', label=t('Create')) }}
  </div>
{% endif %}
