{##
 # Top link
 #}

<li class="messages-count">
    <a href="{{ url('messages') }}">
      {{ this.displaySVGImage('modules/XC/VendorMessages/images/mail.svg') }}
      <span>{{ t('Messages') }}</span>
    </a>
</li>
