{##
 # Benchmark summary - empty variant
 #}

<div class="speed"></div>
<p>{{ t('Estimate your server performance') }}</p>
<div class="buttons">
  {{ widget('\\XLite\\View\\Button\\Link', location=url('measure', 'measure'), label=t('Run benchmark'), style='action') }}
  {{ widget('\\XLite\\View\\Tooltip', id='measure-help-text', text=t('The benchmark evaluates server environment'), caption=t('What is benchmark?'), isImageTag='false', className='help') }}
</div>
<span class="help-text" style="display: none;">{{ t('The benchmark evaluates server environment')|raw }}</span>
