{##
 # Header right box
 #
 # @ListChild (list="layout.header", weight="200")
 #}
<div id="header" class="header-right-bar">
  {{ widget_list('layout.header.right', displayMode='horizontal') }}
</div>
