{##
 # Register
 #
 # @ListChild (list="layout.header.bar.links.newby", weight="200")
 #}

<li class="account-link-2 last">
  <a href="{{ url('profile', '', {'mode': 'register'}) }}" class="register">{{ t('Register') }}</a>
</li>
