{##
 # Header bar search box
 #
 # @ListChild (list="layout.responsive.search", weight="200")
 #}
<div id="mobile_search">
    {{ widget('\\XLite\\View\\Form\\Product\\Search\\Customer\\Simple') }}
</div>

