{##
 # Header
 #
 # @ListChild (list="layout.main", weight="200")
 #}
<div id="header-area">
  <div class="desktop-header">
    {{ widget_list('layout.header') }}
  </div>

  {{ widget_list('layout.header.mobile') }}
</div>
