{##
 # Subscribe block
 #}

<div class="subscription-block">
    <div class="subscription-form-block">
        {{ widget_list('NewsletterSubscriptions.footer.form-block') }}

        <div class="subscription-error-block hidden">
            {{ widget_list('NewsletterSubscriptions.footer.error-block') }}
        </div>
    </div>
    <div class="subscription-success-block hidden">
        {{ widget_list('NewsletterSubscriptions.footer.success-block') }}
    </div>
</div>
