{##
 # Product details attributes block
 #
 # @ListChild (list="product.details.page.tab.description", weight="100")
 #}

<div class="description product-description" data-inline-editable {{ this.printTagAttributes(this.product.getFieldMetadata('description'))|raw }} >{{ this.product.getProcessedDescription()|raw }}</div>
