{##
 # Product details title main block
 #
 # @ListChild (list="product.details.page.info", weight="10")
 # @ListChild (list="product.details.quicklook.info", weight="10")
 #}
<h1 class="fn title">{{ this.product.name }}</h1>
