{##
 # Product thumbnail zoom
 #}
<div class="product-photo" style="width: {{ this.getMaxImageWidth() }}px;height: {{ this.getWidgetMaxHeight() }}px;">
{{ widget('\\XLite\\View\\Image', image=this.product.getImage(), className='photo product-thumbnail', id='product_image_' ~ this.product.product_id, verticalAlign='top', alt=this.getAlt(this.product.getImage()), maxWidth=this.getWidgetMaxWidth(), maxHeight=this.getWidgetMaxHeight()) }}
{{ this.displayCommentedData(this.getJSData()) }}
</div>
