{##
 # Product details image default box
 #}
<div class="product-photo" style="width: {{ this.getMaxImageWidth() }}px;height: {{ this.getWidgetMaxHeight() }}px;">
  {{ widget('\\XLite\\View\\Image', image=this.product.getImage(), className='photo product-thumbnail', verticalAlign='top', id='product_image_' ~ this.product.product_id, maxWidth=this.getWidgetMaxWidth(), maxHeight=this.getWidgetMaxHeight(), alt=this.getAlt(this.product.getImage())) }}
</div>
