{##
 # Export completed section
 #}

<div class="export-box export-completed">

  <div class="header clearfix">
    <h2>{{ t('Export completed') }}</h2>
  </div>

  <div class="content">
    {{ widget('XLite\\View\\Export\\Download', completedContext='true') }}
  </div>

</div>

