{##
 # Export failed section
 #}

<div class="export-box export-not-started">
  <div class="header clearfix">
    <h2>{{ t('Export not started') }}</h2>
  </div>

  <div class="content">
  	<div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
  	<div class="message">{{ t('Export cannot be started because it is disabled or there is another running export process') }}</div>
  </div>
</div>
