{##
 # Export progress section
 #}

<div class="export-box export-progress">

  <div class="content">
    {% form 'XLite\\View\\Form\\Export' with {formAction: 'cancel'} %}
      <div class="subcontent clearfix">
        {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName(), message=this.getProgressMessage() ) }}
      </div>
    {% endform %}
  </div>

</div>

