{##
 # Pin codes enabled checkbox
 #
 # @ListChild (list="product.pinCodes", weight="100")
 #}

<div class="pin-codes-enabled">
   {{ widget('\\XLite\\Module\\CDev\\PINCodes\\View\\FormField\\Input\\Checkbox\\Highlighted', fieldOnly='true', value=this.product.getPinCodesEnabled(), fieldName='pins_enabled', fieldId='enabled-checkbox') }}
  <label for="enabled-checkbox">{{ t('PIN codes enabled') }}</label>
</div>
<div class="clear"></div>
