{##
 # Property icon value
 #}

<span class="property-value app-type">
    <i class="fa {{ this.getAppTypeIcon(this.value) }}"></i>
    <span class='app-type-text'>{{ this.getAppTypeText(this.value) }}</span>
</span>
