{##
 # Checko payment template
 #}

<div class="stripe-box" {{ this.printTagAttributes(this.getDataAtttributes())|raw }}>
  <input type="hidden" name="payment[token]" value="" class="token" />
</div>
