{##
 # Dialog
 #}

<div class="{{ this.getBlockClasses() }}">
  {% if this.getHead() %}
    <h3>{{ t(this.getHead()) }}</h3>
  {% endif %}
  <div class="content">{% include this.getBody() %}</div>
</div>
