{##
 # ____file_title____
 #}

<div class="currency-view-info">
  <span class="currency-block">
    <span class="title">{{ t('Example') }}:</span>
    <span class="currency currency-zero">
      <span class="value-view">
        <span class="prefix"></span><span class="format"></span><span class="decimal"></span><span class="suffix"></span>
      </span>
    </span>
    <span class="clearfix"></span>
  </span>
</div>

