{##
 # Entry new version
 #
 # @ListChild (list="upgrade.step.ready_to_install.entries_list.sections.table.columns.error", weight="400")
 #}

<td class="error-messages" colspan="3">
  <div class="error-message-block">
    {% for message in this.messages %}
      <div class="error-message">
        {{ message }}
      </div>
    {% endfor %}
  </div>
</td>
