{##
 # Images sizes settings template
 #
 # @ListChild (list="images_settings", weight="10")
 #}

<div class="images-sizes">

<h2>{{ t('Default image settings') }}</h2>

{{ widget('\\XLite\\View\\ItemsList\\Model\\ImagesSettings') }}

</div>
