{##
 # Upgrade entry icon
 #
 # @ListChild (list="upgrade.step.prepare.entries_list_upgrade.sections.table", weight="200")
 #}
<ul class="module-info">
  {{ widget_list('sections.table.info', type='inherited', entry=this.entry) }}
</ul>
<div class="clear"></div>
