{##
 # Invoice bottom block
 #
 # @ListChild (list="invoice.subhead", weight="10")
 #}

<td class="left-adresses-part">
  <table cellspacing="0" class="addresses{% if this.order.isShippingSectionVisible() %} S{% endif %}{% if this.order.isPaymentSectionVisible() %} B{% endif %}">
    <tr>
      {% if this.order.isShippingSectionVisible() %}
        <td class="address shipping">
          <div class="wrapper{% if not this.order.trackingNumbers.isEmpty() %} tracking-info-section-included{% endif %}">
          {{ widget_list('invoice.bottom.address.shipping', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
          </div>
        </td>
      {% endif %}

      {% if this.order.isPaymentSectionVisible() %}
        <td class="address payment{% if this.order.isShippingSectionVisible() %} payment-wrapping{% endif %}">
          <div class="wrapper">
          {{ widget_list('invoice.bottom.address.billing', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
          </div>
        </td>
      {% endif %}
    </tr>

    {% for w in this.getViewList('invoice.bottom.lines', {'order': this.order}) %}
      <tr>{{ w.display() }}</tr>
    {% endfor %}

    {% if this.getViewList('invoice.bottom', {'order': this.order}) %}
      <tr>
        {% for w in this.getViewList('invoice.bottom', {'order': this.order}) %}
          <td>{{ w.display() }}</td>
        {% endfor %}
      </tr>
    {% endif %}
    <tr class="bottom-padding"></tr>
  </table>
</td>
