{##
 # Order customer note
 #
 # @ListChild (list="invoice.base", weight="40")
 #}
{% if this.order.getNotes() %}
  <div class="customer-note">
    <h3>{{ t('Customer note') }}:</h3>
    <div>{{ this.order.getNotes()|nl2br }}</div>
  </div>
{% endif %}
