{##
 # Invoice totals : subtotal
 #
 # @ListChild (list="invoice.base.totals.after", weight="20")
 #}
{% if this.getItemsIncludeSurchargesTotals() %}
    {% for row in this.getItemsIncludeSurchargesTotals() %}
      <div class="included-surcharge">
        <span class="title">{{ t('Including X', {'name': row.surcharge.getName()}) }}:</span>
        <span class="value">{{ this.formatPrice(row.cost, this.order.getCurrency()) }}</span>
      </div>
    {% endfor %}
{% endif %}
