{##
 # Invoice totals : subtotal
 #
 # @ListChild (list="invoice.base.totals", weight="100")
 #}
<tr>
    <td class="title">{{ this.getSubtotalTitle() }}:</td>
    <td class="value">{{ this.getOrderSubtotal()|raw }}</td>
</tr>
