{##
 # Variants are based
 #}

<div class="{{ this.getBlockStyle() }}">
  <div class="header clearfix">
    <span class="title">{{ this.getTitle()|raw }}</span>
    {{ widget('\\XLite\\View\\Button\\Submit', label=t('Change')) }}
  </div>
</div>
