{##
 # Popup button
 #}
<button type="button" class="{{ this.getClass() }}" title="{{ t('Edit review') }}">
{{ this.displayCommentedData(this.getURLParams()) }}
<span class="icon-pencil">{{ t(this.getButtonContent()) }}</span>
</button>
