{##
 # Log out link
 #
 # @ListChild (list="layout.header.bar.links.logged", weight="300")
 #}

<li class="account-link-1 last"><a href="{{ url('login', 'logoff') }}" class="log-in">{{ t('Log out') }}</a></li>
