{##
 # Header logo
 #
 # @ListChild (list="layout.header", weight="100")
 #}
<div id="logo">
  <a href="{{ url() }}" title="{{ t('Home') }}" rel="home"><img src="{{ this.getLogo() }}" alt="{{ t('Home') }}" /></a>
</div>
