{##
 # Pager
 #}

<div class="box">
  <div class="left">
    {{ widget_list('pager.admin.model.table.left') }}
  </div>
  <div class="right">
    {{ widget_list('pager.admin.model.table.right') }}
  </div>
</div>
