{##
 # Invoice title
 #}

<h2 style="font-size: 40px;margin-top: 30px;margin-bottom:18px;padding-left: 3px;color: #5495c3;font-weight: normal;">
  <a href="{{ this.getOrderAdminUrl() }}" style="text-decoration:underline;color:#5495c3;">
    {{ this.getInvoiceTitle()|raw }}
  </a>
</h2>
