{##
 # Template
 #
 # @ListChild (list="checkout_fastlane.blocks.payment_methods.available", weight="2000")
 #}
{% if this.isPayWithAmazonActive() %}
<div>
  <div id="payWithAmazonDiv_co_btn" class="pay-with-amazon-button"></div>
</div>
{% endif %}
