{##
 # Template
 #
 # @ListChild (list="minicart.horizontal.buttons", weight="1000")
 #}
{% if this.isPayWithAmazonActive() %}
<div id="payWithAmazonDiv_mini_cart_btn" class="pay-with-amazon-button">
</div>
{% endif %}
