{##
 # Add new card (admin area) 
 #
 #}

<div class="dialog-content">

  {{ widget_list('admin.account.add_new_card.before') }}

  {{ widget_list('admin.account.add_new_card.address') }}

  {{ widget_list('admin.account.add_new_card.form') }}

  {{ widget_list('admin.account.add_new_card.after') }}
 
</div>
