{##
 # Customer's saved cards 
 #
 #}

<div class="dialog-content">

  {{ widget_list('admin.account.saved_cards.before') }}

  {{ widget_list('admin.account.saved_cards.table') }}

  {{ widget_list('admin.account.saved_cards.after') }}

</div>
