{##
 # Customer's saved credit cards header 
 #
 #
 # @ListChild (list="admin.account.saved_cards.before", weight="100")
 #}

<div class="alert alert-info" role="alert">
  {{ t('Cards saved by the customer for the future orders in this shop. No real credit cards were saved, only special token on the side of the payment processor, that can be used in this store only.') }}
</div>
