{##
 # Right actions block
 #
 # @ListChild (list="upgrade.step.ready_to_install.buttons.sections", weight="200")
 #}

<div class="right">
  {{ widget_list('sections.right', type='inherited') }}
</div>
