{##
 # Product block
 #}
<ul class="products products-sidebar products-sidebar-big-thumbnails product-block">
  <li class="product-cell product box-product item first last">
    {{ widget_list('productBlock.info', product=this.getProduct()) }}
  </li>
</ul>
