{##
 # Attribute groups list table template
 #}

<div class="button submit {{ this.getAdditionalPanelStyle() }}">
    {{ widget('\\XLite\\View\\Button\\Submit', label=t('Save changes'), style='main-button popup-submit') }}
</div>
