{##
 # Product link
 #}

<span class="price-field-value">
  <span class="currency-symbol">{{ this.xlite.currency.getCurrencySymbol() }}</span><span class="price-value">{{ this.entity.getPrice() }}</span>
</span>
