{##
 # Send notification checkbox
 #}

<label>
  <input type="checkbox" name="mutualRelations" class="not-significant" value="1" {% if this.checked %} checked="checked" {% endif %} />
  <span>{{ t('Make mutual relations') }}</span>
</label>
