{##
 # Subscribe block
 #
 # @ListChild (list="NewsletterSubscriptions.footer.form-block", weight="100")
 #}

{% form '\\XLite\\View\\Form' with {formTarget: 'NewsletterSubscriptions', formAction: 'subscribe'} %}
    <div class="subscription-form-label">
        {{ this.getFormLabel() }}
    </div>
    {{ widget('XLite\\View\\FormField\\Input\\Text\\Email', fieldName='email', required='true', placeholder=t('Enter email address'), maxlength='255', fieldOnly=this.isFieldOnly(), label=t('Email')) }}
    {{ widget('\\XLite\\View\\Button\\Submit', label=t('Subscribe')) }}
{% endform %}
