{##
 # Invoice totals : included surcharges
 #
 # @ListChild (list="invoice.base.totals", weight="300")
 #}
{% if this.order.getItemsIncludeSurchargesTotals() %}  
    {% for row in this.order.getItemsIncludeSurchargesTotals() %}
      <li class='included-surcharge'>
        <div class="title">{{ t('Including X', {'name': row.surcharge.getName()}) }}:</div>
        <div class="value">{{ this.formatPrice(row.cost, this.order.getCurrency()) }}</div>
      </li>
    {% endfor %}
{% endif %}
