{##
 # Payment methods 
 #
 #}

 <p>{{ t("Configuring of the payment methods presented possible in the X-Payments backoffice only. In case of any problems you need to review the X-Payments Connector module settings and if it's ok, review payment configurations settings on the X-Payments side.", {'xpadmin': this.getXPAdminLink()})|raw }}</p>