{##
 # ____file_title____
 #}

{% if this.getTopInlineJSCode() %}
  <script type="text/javascript">{{ this.getTopInlineJSCode()|raw }}</script>
{% endif %}
{% include this.getDir() ~ '/header.twig' %}

  {% form this.getFormClass() with this.getFormWidgetParams() %}

    <div class="{{ this.getContainerClass() }}">
      {% include this.getDir() ~ '/form_content.twig' %}
      {% if not this.useButtonPanel() %}
        {% include this.getDir() ~ '/' ~ this.getFormTemplate('buttons') %}
      {% endif %}
      {% if this.useButtonPanel() %}
        {{ this.buttonPanel.display() }}
      {% endif %}
    </div>

  {% endform %}

{% include this.getDir() ~ '/footer.twig' %}

{% if this.getBottomInlineJSCode() %}
  <script type="text/javascript">{{ this.getBottomInlineJSCode()|raw }}</script>
{% endif %}
