{##
 # Orders list item : spec : switcher
 #
 # @ListChild (list="orders.children.spec", weight="100")
 #}
<li class="order-switcher"><i data-interval="0" data-toggle="collapse" id="order-{{ this.order.orderId }}-action" data-target="#order-{{ this.order.orderId }}" class="fa fa-plus-square-o"></i></li>