{##
 # Product details Weight main block
 #
 # @ListChild (list="product.details.common.product-attributes.elements", weight="100")
 #}
{% if this.getWeight() != 0 %}
  <li class="product-weight">
    <div><strong>{{ t('Weight') }}</strong></div>
    <span>{{ this.formatWeight(this.getWeight()) }}</span>
  </li>
{% endif %}
