{##
 # Import completed section
 #}

<div class="import-box import-completed">

  <div class="header clearfix">
    <h2>{{ t('Import results') }}</h2>
  </div>

  <div class="content">
    <div class="subcontent clearfix">
      {{ widget_list('import.completed.content') }}
    </div>
    <div class="buttons">
      {{ widget_list('import.completed.buttons') }}
    </div>
  </div>

</div>
