{##
 # File uploader menu
 #
 # @ListChild (list="file-uploader.menu", weight="100")
 #}

{% if this.hasFile() and this.isRemovable() %}
  <li role="presentation" class="divider"></li>
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="#" class="delete">
      <i class="button-icon fa fa-trash-o"></i>
      <span>{{ t('Delete') }}</span>
    </a>
  </li>
  <li role="presentation" class="undelete">
    <a role="menuitem" tabindex="-1" href="#" class="delete">
      <div class="diagonal"></div>
      <i class="button-icon fa fa-trash-o"></i>
      <span>{{ t('Undelete') }}</span>
    </a>
  </li>
{% endif %}
