{##
 # Fastlane checkout payment right section
 #
 # @ListChild (list="checkout_fastlane.sections.after", weight="10")
 #}

<div class="checkout_fastlane_details_wrapper">
    <div class="checkout_fastlane_details_box loading">
    	{{ widget_list('checkout_fastlane.sections.details') }}
    </div>
</div>
<div class="clearfix"></div>
