{##
 # Create variants 
 #}

<div class="create-variants-block">
  <a href="#" class="create-variants submit-form" data-mode="create_variants"><span class="text">{{ t('Create all possible variants') }}</span> <span class="variants-count">({{ this.getPossibleVariantsCount() }})</span></a>
  <span class="create-variants static"><span class="text">{{ t('Create all possible variants') }}</span> <span class="variants-count">({{ this.getPossibleVariantsCount() }})</span></span>
  <span class="variants-limit-warning" title=""><i class="fa fa-exclamation-triangle"></i></span>
  <span class="variants-limit-error" title=""><i class="fa fa-exclamation-triangle"></i></span>
</div>
