{##
 # Notification settings (header and signature)
 #}
<div class="alert alert-info" role="alert">
  {{ t('On this page you can edit the header, greeting and signature used by all the email notifications sent by your store (separately for admin and customer users).') }}
</div>

{{ widget('XLite\\View\\FormModel\\Settings\\Notification\\Common') }}