{##
 # @ListChild (list="qsl.specialoffersbase.special_offers.list.search.conditions", weight="200")
 #}

<li class="action search">
  {{ widget('\\XLite\\View\\Button\\Submit', label=t('Search')) }}
</li>