{##
 # Invoice totals : total
 #
 # @ListChild (list="order.base.totals", weight="300")
 #}
<li class="total">
  <div class="title">{{ t('Grand total') }}:</div>
  <div class="value">{{ this.getOrderTotal()|raw }}</div>
  <div class="recalc"></div>
</li>
