{##
 # Log out link
 #
 # @ListChild (list="slidebar.additional-menu", weight="1000")
 # @ListChild (list="layout.header.right.settings", weight="1000")
 #}

{% if this.isLogged() %}
	<ul class='quick-links'>
		<li class="account-link-logoff">
			<a href="{{ url('login', 'logoff') }}" class="log-off icon-logout">
				<span>{{ t('Log out') }}</span>
			</a>
		</li>
	</ul>
{% endif %}
