{##
 # Account link
 #
 # @ListChild (list="slidebar.additional-menu.links", weight="10")
 #}

{% if this.isLogged() %}
	<li class="account-link-profile">
		<a href="{{ url('order_list', '') }}" class="profile icon-my-account-profile">
			<span>{{ t('My account') }}</span>
		</a>
	</li>
{% endif %}
