{##
 # Account link
 #
 # @ListChild (list="slidebar.additional-menu", weight="390")
 #}

{% if this.getViewList('slidebar.settings') %}
  <div class="settings">
    <div>
      <a href="#settings-panel" class="item-title">
        <span>{{ t('Settings') }}</span>
        <span class="mm-next"></span>
      </a>
      <div class="Panel" id="settings-panel">
        <ul class="Inset">
          {{ widget_list('slidebar.settings') }}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
