{##
 # Modules main section list
 #
 # @ListChild (list="itemsList.module.install.columns.module-description-section", weight="20")
 #}

<div class="author">{{ t('Author') }}: <span class="author-name">{{ this.module.getAuthorName() }}</span></div>
