{##
 # X-Cart module notice
 #
 # @ListChild (list="itemsList.module.install.columns.module-main-section", weight="200")
 #}
{% if this.showXCNModuleNotice(this.module) %}
  <div class="note error xcn-module-notice">
  <span>
  {{ t('Module available editions 3', {'list': this.getEditions(this.module, 1)})|raw }}
    {{ widget('\\XLite\\View\\Button\\ActivateKey', label='Activate existing key') }}
    {{ widget('\\XLite\\View\\Button\\Addon\\EnterLicenseKey', label='Activate existing key') }}
  </span>
  </div>
{% endif %}
