{##
 # Search in
 #}

<tr>
  <td class="option-name title-search-by-options" colspan="2">{{ t('Search in') }}:</td>
</tr>

<tr>
  <td colspan="2">
    <ul class="search-by-options">
      {{ widget_list('products.search.conditions.advanced.options') }}
    </ul>
  </td>
</tr>
