{##
 # Payment transactions summary
 #
 # @ListChild (list="order.actions.paymentActionsRow", weight="100")
 #}
 
<script type="text/javascript">
  var differenceLabelText = '{{ this.getDifferenceLabel() }}';
</script>

<div class="difference-tooltip-container">
  {{ widget('\\XLite\\View\\Tooltip', id='difference-tooltip', text=t('Difference between order total and charged amount'), isImageTag='true', className='help-icon') }}
</div>