{##
 # Attribute value (Select)
 #}

<label class="title">{{ this.attribute.name }}</label>
<textarea class="form-control" name="{{ this.getName() }}" data-attribute-id="{{ this.attribute.id }}">{{ this.getValue() }}</textarea>
