{##
 # Review
 #
 # @ListChild (list="review.modify.fields", weight="500")
 #}
<li class="input review-text clearfix">
  <div class="table-label">
    <label for="review" class="review">{{ t('Text of review') }}</label>
  </div>

  <div class="star">&nbsp;</div>

  <div class="wrapper-table-value">
    {{ widget('\\XLite\\View\\FormField\\Textarea\\Simple', fieldOnly='true', fieldName='review', cols='60', rows='5', value=this.entity.review) }}
  </div>

</li>
