{##
 # Reviewer (email and name)
 #
 # @ListChild (list="review.modify.fields", weight="300")
 #}
<li class="input clearfix">
  <div class="table-label">
    <label for="profile" class="email">{{ t('Profile') }}</label>
  </div>

  <div class="star"></div>

  <div class="wrapper-table-value">
    {% if this.entity.getProfile() %}
    {{ widget('\\XLite\\Module\\XC\\Reviews\\View\\FormField\\Select\\ProfileSelector', fieldOnly='true', fieldName='profile', placeholder=t('Start typing customer email or name'), is_model_required='false', review=this.entity, value=this.entity.profile.getProfileId()) }}
    {% elseif this.entity.getReviewerName() %}
    {{ widget('\\XLite\\Module\\XC\\Reviews\\View\\FormField\\Select\\ProfileSelector', fieldOnly='true', fieldName='profile', placeholder=t('Start typing customer email or name'), is_model_required='false', review=this.entity, value=this.entity.getReviewerName()) }}

    {% else %}
    {{ widget('\\XLite\\Module\\XC\\Reviews\\View\\FormField\\Select\\ProfileSelector', fieldOnly='true', fieldName='profile', placeholder=t('Start typing customer email or name'), is_model_required='false', review=this.entity, value='') }}
    {% endif %}
  </div>
</li>
