{##
 # Payment status cell
 #}

<span class="tooltip-title">{{ t('Transactions details') }}</span>
<div class="tooltip-content">
    <ul>
        {% for dataCell in this.entity.getTransactionData() %}
          <li class="data-cell">
              <span class="data-cell-title">{{ t(dataCell.getLabel()) }}</span>
              <span class="data-cell-value">{{ this.getCellValue(dataCell)|raw }}</span>
          </li>
        {% endfor %}
    </ul>
</div>
