{##
 # Restore links note
 #}

<div class="alert alert-warning restore-links-note">
  {{ t('We will email you with emergency links to disable custom modules and stay only with original add-ons.')|raw }}
</div>
