{##
 # Item price
 #
 # @ListChild (list="itemsList.product.modify.common.admin.columns", weight="70")
 #}

<td>
  <input type="text" class="inventory{% if not this.product.getInventoryEnabled() %} input-disabled{% endif %}" size="10" value="{{ this.product.getAmount() }}" name="{{ this.getNamePostedData('amount', this.product.getProductId()) }}" {% if not this.product.getInventoryEnabled() %} disabled="disabled" {% endif %} />
</td>
