{##
 # Item price
 #
 # @ListChild (list="itemsList.product.modify.common.admin.columns", weight="60")
 #}

<td><input type="text" class="price" size="10" value="{{ this.product.getPrice() }}" name="{{ this.getNamePostedData('price', this.product.getProductId()) }}" /></td>
