{##
 # Attribute value (Text)
 #}

<span class="title">{{ this.attribute.name }}</span>
<textarea class="form-control" name="{{ this.getName() }}" data-attribute-id="{{ this.attribute.id }}">{{ this.getValue() }}</textarea>
