{##
 # Modules main section list
 #
 # @ListChild (list="itemsList.module.install.columns.module-main-section", weight="20")
 #}

<div class="module-info">
  <ul>
  {{ widget_list('itemsList.module.install.columns.module-description-section.info-element', module=this.module) }}
  </ul>
</div>
