{##
 # Vendor account signin notification to administrator: body
 #}
<p>{{ t('A new vendor account has been created and is awaiting approval:') }} {{ this.profile.login|raw }}</p>

<p>{{ t('Visit this page to approve or decline vendor account.', {'url': this.url})|raw }}</p>
