{##
 # Messages list : empty
 #}

<div class="empty">
    <div class="img">{{ this.displaySVGImage('modules/XC/VendorMessages/images/no-messages.svg') }}</div>
    <strong>{{ t('You Have No Messages') }}</strong>
</div>