{##
 # Shopping cart subtotal
 #
 # @ListChild (list="invoice.base.totals", weight="310")
 #}
{% if this.isMultiCurrencyOrder() %}
  <li>
    <div class="title">{{ t('Total charge') }}:</div>
    <div class="value">{{ this.formatPrice(this.order.getTotal(), this.order.getCurrency(), 'false', 'true') }}</div>
  </li>
{% endif %}
{% if this.isMultiCurrencyOrder() %}
  <li>
    {{ widget('XLite\\Module\\XC\\MultiCurrency\\View\\InvoiceChargeWarning', order=this.order) }}
  </li>
{% endif %}