{##
 # Order tracking information email body (to customer)
 #}
<p>
  <strong>{{ t('Carrier') }}:</strong> {{ this.order.getShippingMethodName()|raw }}
</p>
<p>
  {{ widget_list('tracking.info', order=this.order, trackingNumbers=this.trackingNumbers) }}
  <br />
  {{ widget('\\XLite\\View\\Invoice', order=this.order) }}
</p>