{##
 # Fastlane checkout address section
 #
 # @ListChild (list="checkout_fastlane.sections.payment.left", weight="20")
 #}

{{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Blocks\\Address\\Billing') }}

{% if this.isAddressBookVisible() %}
<div class="checkout_fastlane_change_address">
    {{ widget('XLite\\View\\Button\\AddressBook', addressType='b', label=t('Choose another address')) }}
</div>
{% endif %}