{##
 # Fastlane checkout address section
 #
 # @ListChild (list="checkout_fastlane.sections.payment", weight="10")
 #}

<div class="checkout_fastlane_section-column checkout_fastlane_section-column_left">
    {{ widget_list('checkout_fastlane.sections.payment.left') }}
</div>
<div class="checkout_fastlane_section-column checkout_fastlane_section-column_right">
    {{ widget_list('checkout_fastlane.sections.payment.right') }}
</div>