{##
 # Add to Cart popup page: 'Added product' message template
 #
 # @ListChild (list="add2cart_popup.item", weight="200")
 #}

<div class="added-item-message">
  <i class="fa fa-check-square"></i>
  <div>{{ t('This product has been added to you cart') }}</div>
</div>
