{##
 # Add to Cart popup page: added product box template
 #
 # @ListChild (list="add2cart_popup.item", weight="100")
 #}

<div class="item-thumbnail">
  {{ widget('\\XLite\\View\\Image', image=this.item.getImage(), maxWidth=this.getIconWidth(), maxHeight=this.getIconHeight(), alt=this.product.name, className='photo') }}
</div>
