<order-notes inline-template class="floating-label secondary">
	<label for="order_note">{{ t('Order note') }}</label>
	<textarea class="form-control secondary" rows="3" name="notes" v-on:change="updateNotes" v-bind:value="notes" id="order_note" placeholder="{{ t('Any special needs?') }}"></textarea>
</order-notes>