{##
 # Minicart (horizontal)
 #}
<div {{ this.printTagAttributes(this.getContainerAttributes())|raw }}>

  {{ widget_list('minicart.horizontal.children') }}

</div>

{{ widget_list('minicart.horizontal.base') }}
