{##
 # ____file_title____
 #}
<noscript>
  <div class="noscript">
    {{ t('This site requires JavaScript to function properly.') }}
    <br />{{ t('Please enable JavaScript in your web browser.') }}
  </div>
</noscript>
