{##
 # Next product links
 #
 # @ListChild (list="next_previous.product.body", weight="300")
 #}

<div class="next-previous-dropdown">
    {{ widget_list('next_previous.product.body.dropdown') }}
</div>
