{##
 # Product element
 #
 # @ListChild (list="sale_discount_types", weight="20")
 #}

 <ul class="sale-discount sale-discount-percent">
   <li class="discount-type">
     <input
         id="sale-price-percent-off"
         type="radio"
         name="{{ this.getNamePostedData('discountType') }}"
         value="{{ constant('XLite\\Model\\Product::SALE_DISCOUNT_TYPE_PERCENT') }}"
         {% if this.getParam('discountType') == constant('XLite\\Model\\Product::SALE_DISCOUNT_TYPE_PERCENT') %}checked="checked"{% endif %} />
     <label for="sale-price-percent-off">
      {{ t('Percent off') }}
     </label>
   </li>
   <li class="sale-price-value">
     {{ widget('\\XLite\\View\\FormField\\Input\\Text\\Symbol', fieldOnly='true', mouseWheelIcon='false', symbol='%', fieldId='sale-price-value-' ~ constant('XLite\\Model\\Product::SALE_DISCOUNT_TYPE_PERCENT'), value=this.getPercentOffValue()) }}
   </li>
 </ul>

 <div class="clear"></div>
