{##
 # Sitemap generation progress section
 #}

<div class="sitemap-generation-box sitemap-generation-progress">

  <div class="content">
    {% form 'XLite\\Module\\CDev\\XMLSitemap\\View\\Form\\SitemapGeneration' with {formAction: 'sitemapGenerationCancel'} %}
    <div class="subcontent">
      {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName(), message=this.getProgressMessage() ) }}
    </div>
    {% endform %}
  </div>

</div>
