{##
 # Category banner
 #}
<div class="category-banner">
    <div class="category-banner_image-wrapper">
        <div class="additional-wrapper">
            {{ widget('\\XLite\\View\\Image', image=this.category.banner, centerImage='1', alt=this.category.name) }}
        </div>
    </div>
</div>
