{##
 # Center box
 #
 # @ListChild (list="layout.main.center", weight="200")
 #}

<div id="content" class="column">
  {% if this.isTrialNoticeAutoDisplay() %}
    {{ widget('\\XLite\\View\\ModulesManager\\TrialNotice') }}
  {% endif %}
  <div class="section">
    <a id="main-content"></a>
    {{ widget('XLite\\View\\ListContainer', inner='layout/content/center.twig', group='center') }}
  </div>
</div>
