{##
 # Search by category
 #
 # @listChild (list="products.search.conditions.advanced", weight="200")
 #}

<tr>
  <td class="option-name title-category">{{ t('Category') }}:</td>
  <td>{{ widget('\\XLite\\View\\CategorySelect', fieldName='categoryId', selectedCategoryIds=[this.getCondition('categoryId')], allOption='1', noneOption="0") }}</td>
</tr>
