{##
 # Search in title
 #
 # @listChild (list="products.search.conditions.advanced.options", weight="100")
 #}

<li><label for="by-title">
  <input type="checkbox" name="by_title" id="by-title" value="Y" {% if this.getChecked('by_title') %} checked="checked" {% endif %} />
  {{ t('Title') }}
</label></li>
