{##
 # Search in
 #
 # @listChild (list="products.search.conditions.advanced", weight="100")
 #}

<tr>
  <td class="option-name title-search-by-options">{{ t('Search in') }}:</td>
  <td>
    <ul class="search-by-options">
      {{ widget_list('products.search.conditions.advanced.options') }}
    </ul>
  </td>
</tr>
