{##
 # Common input template
 #}

<span class="input-field-wrapper {{ this.getWrapperClass() }}">
  {{ this.displayCommentedData(this.getCommentedData()) }}
  <input{{ this.getAttributesCode()|raw }} />
  <div class="combobox-select"><i class="fa fa-caret-down"></i></div>
</span>
