{##
 # Radio buttons list
 #}

<ul {{ this.getAttributesCode()|raw }}>
  {{ this.displayCommentedData(this.getCommentedData()) }}
  {% for optionValue, optionLabel in this.getOptions() %}
     <li><label><input {{ this.getOptionAttributesCode(optionValue, optionLabel)|raw }} />{{ optionLabel }}</label></li>
  {% endfor %}
</ul>
