{##
 # Payment methods. Appearance tab.
 #
 # @ListChild (list="itemsList.methods.header", weight="10")
 #}

<div class="alert alert-info" role="alert">
  {{ t('Payment methods appearance description')|raw }}
</div>

