{##
 # Price widget
 #}

<div class="product-price {{ this.getFingerprint() }}">
{{ widget_list('product.plain_price.head') }}
  <ul class="product-price">
  {{ widget_list('product.plain_price') }}
  </ul>
{{ widget_list('product.plain_price.tail') }}
</div>