{##
 # Side bar box
 #}

<div class="{{ this.getBlockClasses() }}">
  {% if this.getHead() %}
    <div class="head-h2">{{ t(this.getHead()) }}</div>
  {% endif %}
  <div class="content">{% include this.getBody() %}</div>
</div>
