{##
 # Entry pack size
 #
 # @ListChild (list="upgrade.step.prepare.entries_list_update.sections.table.columns", weight="600")
 #}

<td class="size">{{ this.formatFileSize(this.entry.getPackSize()) }}</td>
