{##
 # Country part
 #
 # @ListChild (list="layout.header.bar.locale", weight="30")
 #}

{% if this.isCurrencySelectorAvailable() and this.getCurrentCurrency() %}
<span class='currency-indicator'>
	{{ this.getCurrentCurrency().getCode() }}
</span>
{% endif %}
