{##
 # Package detail
 #}

<ul class="package-list">
  {% for index, package in this.getAuctionIncPackage() %}
    <li class="package-list-item">
      {{ widget('XLite\\Module\\XC\\AuctionInc\\View\\Order\\Package', package=package, index=index, order=this.order) }}
    </li>
  {% endfor %}
</ul>