{##
 # Order Back link
 #
 # @ListChild (list="order.links", weight="10")
 #}
<li class="back">
  <a href="{{ url('order_list') }}"><strong>&larr;</strong><span>{{ t('Back to order list') }}</span></a>
</li>
