{##
 # Add to Cart popup page: Added product's price template
 #
 # @ListChild (list="add2cart_popup.item", weight="600")
 #}

<div class="item-buttons">
  {{ widget_list('add2cart_popup.item.buttons') }}
</div>
