{##
 # Create return :: form :: products
 #
 # @ListChild (list="capost_create_return.form", weight="100")
 #}

<div class="products">

  <table class="products-table" cellspacing="0">

    <tr>
      {{ widget_list('capost_create_return.form.captions') }}
    </tr>

    {% for item in this.getItems() %}
      <tr class="product-cell product">
        {% for column in this.getInheritedViewList('capost_create_return.form.columns', {'item': item}) %}
          <td>{{ column.display() }}</td>
        {% endfor %}
      </tr>
    {% endfor %}

  </table>

</div>
