{##
 # Fastlane checkout heading bar
 #
 # @ListChild (list="checkout_fastlane", weight="10")
 #}

<div class="checkout_fastlane_header">
	{{ widget_list('checkout_fastlane.header.top') }}
	<div class="checkout_fastlane_header-left">
		{{ widget_list('checkout_fastlane.header.left') }}
	</div>
	<div class="checkout_fastlane_header-right">
		{{ widget_list('checkout_fastlane.header.right') }}
	</div>
	<div class="clearfix"></div>
	{{ widget_list('checkout_fastlane.header.bottom') }}
</div>