{##
 # Name item cell
 #}
<td class="item">
  <strong class="item-name">{{ this.item.getName() }}</strong>

  {% if this.isViewListVisible('invoice.item.name', {'item': this.item}) %}
    <ul class="subitem additional simple-list">
    {{ widget_list('invoice.item.name', item=this.item) }}
    </ul>
  {% endif %}
</td>
