{##
 # Label (internal list element)
 #}
{% set label = this.getLabel(constant('SALE_PRICE_LABEL', this)) %}
{% if label is not empty %}
  <li>
    {{ widget('\\XLite\\View\\Labels', labels=label) }}
  </li>
{% endif %}