{##
 # Promo block content for cart page
 #}

{% if this.hasNextDiscount() %}
  <li class="volume-discounts">
  
  <div class="volume-discounts-promo">
  
    <div class="banner">
      <div class="banner-box">-{{ this.getNextDiscountValue() }}</div>
    </div>
  
    <span class="next">{{ t('Get X off for order amount over Y', {'X': this.getNextDiscountValue(), 'Y': this.getNextDiscountSubtotal()}) }}</span>
  
  </div>
  
  </li>
{% endif %}
