{##
 # Upgrade entry icon
 #
 # @ListChild (list="upgrade.install_updates.sections.form", weight="100")
 #}
<div class="module-icon">
  <img src="{{ this.entry.getPublicIconURL() }}" alt="{{ this.entry.getName() }}" />
</div>
