{##
 # Product price value
 #
 # @ListChild (list="product.plain_price", weight="10")
 # @ListChild (list="product.plain_price_only", weight="10")
 #}

<li class="product-price-base"><span class="price product-price">{{ this.formatPrice(this.getListPrice(), this.null, 1)|raw }}</span></li>
