{##
 # Profile modified email body (to customer)
 #}
<p>
  {{ this.getNotificationText()|raw }}
</p>
{% if this.password %}
  <p>
    {{ t('Your account password is X.', {'password': this.password}) }}
  </p>
{% endif %}
