{##
 # Selector
 #}

<div class="selector">
  <input type="checkbox" name="{{ this.getSelectorDataPrefix() }}[{{ this.entity.getUniqueIdentifier() }}]" value="1" class="selector not-significant" />
</div>
