{##
 # Fastlane checkout address section
 #
 # @ListChild (list="checkout_fastlane.sections.address", weight="10")
 #}

{% if this.isShippingEnabled() %}
  <div class="checkout_fastlane_address_form_wrapper">
    <h3 class="checkout_fastlane_block_heading">{{ this.getShippingFormTitle() }}</h3>
    {{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Blocks\\AddressForm\\Shipping') }}
  </div>
{% else %}
  <div class="checkout_fastlane_address_form_wrapper">
    <h3 class="checkout_fastlane_block_heading">{{ this.getBillingFormTitle() }}</h3>
    {{ widget('XLite\\Module\\XC\\FastLaneCheckout\\View\\Blocks\\AddressForm\\Billing') }}
  </div>
{% endif %}