{##
 # Fastlane checkout address section
 #}

<div is='address-section' inline-template class="checkout_fastlane_section checkout_fastlane_section--address" next-label="{{ this.getNextButtonLabel() }}">
	<h1 class="checkout_fastlane_section_heading">{{ t('Addresses') }}</h1>
	<div class="checkout_fastlane_section-content">
		{{ widget_list('checkout_fastlane.sections.address') }}
	</div>
	<div class="clearfix"></div>
	{{ widget_list('checkout_fastlane.sections.address.after') }}
</div>
