{##
 # ____file_title____
 #
 # @ListChild (list="product.inventory.parts", weight="100")
 #}

<tr>
  <td colspan="2">
    {{ widget('\\XLite\\View\\Button\\Submit', label=t('Update')) }}
  </td>
</tr>
