{##
 # Import begin section : settings : delimier
 #
 # @ListChild (list="import.begin.options", weight="400")
 #}

<li class="delimiter-option">
  {{ widget('XLite\\View\\FormField\\Select\\CSVDelimiter', fieldName='options[delimiter]', label=t('CSV delimiter'), value=this.config.Units.csv_delim) }}
</li>
