{##
 # Import begin section : settings : ignore files checking
 #
 # @ListChild (list="import.begin.options", weight="50")
 #}

<li class="checkbox-option">
  <label for="ignoreFileChecking">{{ t('Do not verify images to increase speed of the process') }}</label>
  <input type="checkbox" name="options[ignoreFileChecking]" value="1" id="ignoreFileChecking" checked />
</li>
