{##
 # Pin codes actions box
 #
 # @ListChild (list="product.pinCodes", weight="400")
 #}

{% if not this.product.getAutoPinCodes() %}
  <div class="pin-codes-actions">
    {% if this.product.getPinCodesEnabled() %}
      {{ widget('\\XLite\\Module\\CDev\\PINCodes\\View\\AddPinCodesButton') }}
      {{ widget('\\XLite\\View\\Button\\FileSelector', label='Import from CSV file', object='import_pin_codes', objectId=this.product.getId(), fileObject='') }}
    {% endif %}
  </div>
  <div class="clear"></div>
{% endif %}
