{##
 # Tags list sidebar box widget
 #}

<div class="tags clearfix">
	<ul class="tags-list">
	  {% for tag in this.getTags() %}
	    <li title="{{ tag.getName() }}">
        <a href="{{ this.getActionURL({'tag': tag.getName()}) }}">{{ tag.getName() }}</a>
	      <div class="circle"></div>
	    </li>
	  {% endfor %}
	</ul>
</div>
