{##
 # Regular button
 #}

<div class="modules-not-selected{% if this.countModulesSelected() > 0 %} hide-selected{% endif %}">{{ t('Not selected') }}</div>
<div class="modules-selected-box actions{% if this.countModulesSelected() == 0 %} hide-selected{% endif %}">
<div class="module-box clone">
  <div class="remove-action"><span class="info"></span></div>
  <span class="module-name"></span>
</div>
{% for moduleId in this.getModulesToInstall() %}
<div class="always-enabled module-box" id="module-box-{{ moduleId }}">
  <div class="remove-action"><span class="info">{{ moduleId }}</span></div>
  <span class="module-name">{{ this.getModuleName(moduleId) }}</span>
</div>
{% endfor %}
</div>
