{##
 # Import begin section
 #}

<div class="import-box import-begin">

  <div class="content">
    {% form 'XLite\\View\\Form\\Import' %}
      <div class="subcontent clearfix">
        {{ widget_list('import.begin.content') }}
      </div>
      <div class="buttons">
        {{ widget_list('import.begin.buttons') }}
      </div>
    {% endform %}
  </div>

</div>
