{##
 # 'Get CSV' button
 #}

<div class="get-csv-wrapper">
  <button type="button" title="{{ t('Get CSV') }}" tabindex="-1" onclick="{{ this.jsCode }}">
    <img src="{{ asset('images/spacer.gif') }}" alt="" />
  </button>
</div>
