{##
 # Regular button
 #}

<button type="button" class="button switch-button">
{{ this.displayCommentedData(this.getCallbacks()) }}
<img src="{{ asset('images/spacer.gif') }}" alt="Switch" />
</button>
