{##
 # FedEx settings page main template
 #}
<div class="shipping-description">
  {{ t('FedEx module allows to use online shipping rates calculation via FedEx.')|raw }}
</div>
{{ widget('XLite\\Module\\CDev\\FedEx\\View\\Model\\Settings') }}
