{##
 # Sign in: SocialLogin widget
 #
 # @ListChild (list="layout.header.bar.links.newby", zone="customer", weight="101")
 #}
<li class="social-login">
  {{ widget('\\XLite\\Module\\CDev\\SocialLogin\\View\\SocialLoginWidget', buttonStyle='icon', placement='signin') }}
</li>
