{##
 # Just a template for settings. We need it since we do not implement decorator for modules now
 #}

<div class="settings general-settings settings-xpc">
  {{ widget('\\XLite\\Module\\XC\\MailChimp\\View\\Model\\ModuleSettings', useBodyTemplate='1') }}
</div>
