{##
 # Shipping estimator box (selected method)
 #}
<div class="selected-shipping-method">
  <span class="method-name">{{ this.getName()|raw }}</span>
  <span class="shipping-cost">({{ this.getCost() }})</span>
</div>
