{##
 # Fastlane checkout address next button
 #
 # @ListChild (list="checkout_fastlane.sections.address.left", weight="30")
 #}

<div class="checkout_fastlane_section-buttons">
    <next-button inline-template v-bind:enabled="complete">
    {{ widget(
      'XLite\\View\\Button\\Simple',
      label=this.getNextButtonLabel(),
      style='regular-main-button checkout_fastlane_section-next',
      attributes={
        'v-on:click': 'requestNext',
        'v-bind:class': 'classes'
      }) }}
    </next-button>
</div>