{##
 # Payment method row
 #}

<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_credit_logo_h_100x26.png" alt="{{ this.method.getName() }}" title="{{ this.method.getName() }}" class="paypal-pc" />

<a href="https://www.securecheckout.billmelater.com/paycapture-content/fetch?hash=AU826TU8&content=/bmlweb/ppwpsiw.html" target="_blank">
  <img src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_bml_text.png" />
</a>

