{##
 # Item name
 #
 # @ListChild (list="itemsList.product.table.admin.search.columns", weight="30")
 #}

<td><a class="name" href="{{ url('product', '', {'product_id': this.product.getProductId()}) }}">{% if this.product.getName() %}{{ this.product.getName()|raw }}{% else %}N/A{% endif %}</a></td>
