{##
 # Item position
 #
 # @ListChild (list="itemsList.product.table.admin.search.columns", weight="50")
 #}

<td><input type="text" class="pos" size="5" name="{{ this.getNamePostedData('pos', this.product.getProductId()) }}" value="{{ this.product.getOrderBy() }}" /></td>
