{##
 # Shopping cart box
 #}
<div class="cart-tray cart-tray-box">
  <div class="tray-area">
    <div class="centered-tray-box">
      <div class="drop-here tray-status">{{ t('Drop items here to shop') }}</div>
      <div class="dropped-here tray-status">{{ t('Product has been added to cart') }}</div>

      <div class="product-added tray-status">
        {{ widget('\\XLite\\View\\Button\\SimpleLink', label='Checkout', location=url('checkout'), style='regular-button') }}
      </div>

      <div class="progress-bar">
        <div class="wait-progress">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="preload-cart-tray"></div>
