{##
 # Canada Post products return :: from :: actions
 #
 # @ListChild (list="capost_return.form", weight="100")
 #}

<div class="actions">
  
  <div class="left-column">
    {{ widget_list('capost_return.form.actions.left') }}
  </div>

  <div class="right-column">
    {{ widget_list('capost_return.form.actions.right') }}
  </div>

  <div class="clear"></div>

</div>
