{##
 # ____file_title____
 #}

<div class="froala-widget">
    <div class="textarea">
        {{ this.displayCommentedData(this.getFroalaConfiguration()) }}
        <textarea {{ this.getAttributesCode()|raw }}>{{ this.getProcessedValue() }}</textarea>
    </div>
</div>

