{##
 # Price inline view
 #}

{% if this.currency.getPrefix() %}
  <span class="symbol{% if not this.isSymbolVisible(this.singleField) %} hidden{% endif %}">{{ this.currency.getPrefix()|raw }}</span>
{% endif %}
<span class="value">{{ this.getViewValue(this.singleField)|raw }}</span>
{% if this.currency.getSuffix() %}
  <span class="symbol {% if not this.isSymbolVisible(this.singleField) %} hidden{% endif %}">{{ this.currency.getSuffix()|raw }}</span>
{% endif %}

