{##
 # Price inline view
 #}

{% if this.currency.getPrefix() %}
  <span class="symbol">{{ this.currency.getPrefix()|raw }}</span>
{% endif %}
<span class="value">{{ this.getViewValue(this.singleField)|raw }}</span>
{% if this.currency.getSuffix() %}
  <span class="symbol">{{ this.currency.getSuffix()|raw }}</span>
{% endif %}

