{##
 # Tax class inline view
 #}

<div>
  <span class="value">{{ this.getViewValue(this.singleField) }}</span>
</div>
<span class="products">({{ this.entity.getProductsCount() }} {{ t('products') }})</span>
