{##
 # Products list item
 #}

{{ widget_list('head', type='inherited', product=this.product) }}

<div class="{{ this.getProductCellClass() }}">
  {{ widget_list('info', type='inherited', product=this.product) }}
</div>

{{ widget_list('tail', type='inherited', product=this.product) }}
