{##
 # Sign in: SocialLogin widget
 #
 # @ListChild (list="layout.header.bar.links.newby", zone="customer", weight="101")
 #}
<li class="social-login paypal-login">
  {{ widget('\\XLite\\Module\\CDev\\Paypal\\View\\Login\\Widget', buttonStyle='icon', placement='signin') }}
</li>
