{##
 # "AuctionInc" tab
 #}
<a href="http://www.auctioninc.com/info/page/xcart_shippingcalc_settings" target="_blank" class="external">{{ t('Guide to AuctionInc ShippingCalc Settings') }}</a>

{{ widget('XLite\\Module\\XC\\AuctionInc\\View\\Model\\ProductAuctionInc', useBodyTemplate='1') }}
