{##
 # AuctionInc settings
 #}
{% if this.isXSAvailable() %}
  <div class="trial-counter">
    {{ t('30 Day Trial of AuctionInc ShippingCalc Module. Days Left: X', {'days': this.getXSDays()})|raw }}
  </div>
{% endif %}

{% if this.isXSExpired() %}
  <div class="alert alert-warning trial-expired">
    {{ t('30 Day Trial of AuctionInc ShippingCalc Module is over')|raw }}
  </div>
{% endif %}

{{ widget('XLite\\Module\\XC\\AuctionInc\\View\\Model\\Settings') }}
