{##
 # Powered by box
 #}

{# Modification of this template or removal of the "Powered by X-Cart" label are forbidden for X-Cart Free Edition. #}

<div class="powered-by">
  <p class="copyright">&copy; {{ this.getCompanyYear() }} {{ this.config.Company.company_name }}. {{ t('All rights reserved.') }}</p>
  <p class="powered-by-label">{{ this.getMessage()|raw }}</p>
</div>
