{##
 # Express checkout
 #}
<a href="{{ this.getLocationURL() }}" onclick="paypalExpressCheckout(this)" class="{{ this.getClass() }}"{% if this.getId() %} id="{{ this.getId() }}"{% endif %}{% if this.hasMerchantId() %} data-paypal-id="{{ this.getMerchantId() }}"{% endif %}>
  <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-medium.png" alt="Check out with PayPal" />
</a>
