{##
 # Automate shipping routine button
 #}
<span class="automate-shipping-routine">
    <img class="automate-shipping-routine-icon" src="{{ this.getAutomateRoutineIcon() }}" alt="{{ this.getAutomateRoutineText() }}">
    <a href="{{ this.getAutomateRoutineLink() }}">{{ this.getAutomateRoutineText() }}</a>
</span>
