{##
 # Properties
 #
 # @ListChild (list="product.attachments.row", weight="900", zone="admin")
 #}
<div class="switcher">
  <img src="{{ asset('images/spacer.gif') }}" alt="" />
  <a href="#">{{ t('Properties') }}</a>
</div>
