{##
 # Checkout : order review step : items : total
 #
 # @ListChild (list="checkout.review.selected.items", weight="1000")
 # @ListChild (list="checkout.review.inactive.items", weight="1000")
 #}
{% if not this.isDefaultMultiCurrencySelected() %}
  <ul class="modifiers">
    <li>
      {{ t('Total charge') }}:
      <span class="value">{{ widget('XLite\\View\\Surcharge', surcharge=this.cart.getTotal(), currency=this.cart.getCurrency(), noConversion='true') }}</span>
    </li>
    <li>
      {{ widget('XLite\\Module\\XC\\MultiCurrency\\View\\RealChargeWarning', order=this.cart, noConversion='true') }}
    </li>
  </ul>
{% endif %}